{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://stats.bis.org/api/v1",
      "description": "BIS Stats API"
    }
  ],
  "paths": {
    "/allowedconstraint/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get allowed constraints",
        "operationId": "getAllowedConstraints",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/conceptscheme/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get concept schemes",
        "operationId": "getConceptSchemes",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/codelist/{agencyID}/{resourceID}/{version}/{itemID}": {
      "get": {
        "tags": [
          "Item queries"
        ],
        "summary": "Get codes",
        "operationId": "getCodes",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/items"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/codelist/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get codelists",
        "operationId": "getCodelists",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/data/{flow}/{key}/all": {
      "get": {
        "tags": [
          "Data queries"
        ],
        "summary": "Get data",
        "operationId": "getData",
        "parameters": [
          {
            "$ref": "#/components/parameters/flow"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/startPeriod"
          },
          {
            "$ref": "#/components/parameters/endPeriod"
          },
          {
            "$ref": "#/components/parameters/firstNObservations"
          },
          {
            "$ref": "#/components/parameters/lastNObservations"
          },
          {
            "$ref": "#/components/parameters/detail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/availableconstraint/{flow}/{key}/all/{componentID}": {
      "get": {
        "tags": [
          "Data availability queries"
        ],
        "summary": "Get information about data availability",
        "operationId": "getDataAvailabilityInformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/flow"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/componentID"
          },
          {
            "$ref": "#/components/parameters/mode"
          },
          {
            "$ref": "#/components/parameters/acreferences"
          },
          {
            "$ref": "#/components/parameters/startPeriod"
          },
          {
            "$ref": "#/components/parameters/endPeriod"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/categorisation/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get categorisations",
        "operationId": "getCategorisations",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/hierarchicalcodelist/{agencyID}/{resourceID}/{version}/{itemID}": {
      "get": {
        "tags": [
          "Item queries"
        ],
        "summary": "Get hierarchies",
        "operationId": "getHierarchies",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/items"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/contentconstraint/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get content constraints",
        "operationId": "getContentConstraints",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/categoryscheme/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get category schemes",
        "operationId": "getCategorySchemes",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/structure/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get structures",
        "operationId": "getStructures",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/conceptscheme/{agencyID}/{resourceID}/{version}/{itemID}": {
      "get": {
        "tags": [
          "Item queries"
        ],
        "summary": "Get concepts",
        "operationId": "getConcepts",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/items"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/actualconstraint/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get actual constraints",
        "operationId": "getActualConstraints",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/agencyscheme/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get agency schemes",
        "operationId": "getAgencySchemes",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/dataflow/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get dataflows",
        "operationId": "getDataFlows",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/categoryscheme/{agencyID}/{resourceID}/{version}/{itemID}": {
      "get": {
        "tags": [
          "Item queries"
        ],
        "summary": "Get categories",
        "operationId": "getCategories",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/items"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/hierarchicalcodelist/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get hierarchical codelists",
        "operationId": "getHierarchicalCodelists",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/datastructure/{agencyID}/{resourceID}/{version}": {
      "get": {
        "tags": [
          "Structure queries"
        ],
        "summary": "Get data structures",
        "operationId": "getDataStructures",
        "parameters": [
          {
            "$ref": "#/components/parameters/agencies"
          },
          {
            "$ref": "#/components/parameters/resourceIDs"
          },
          {
            "$ref": "#/components/parameters/versions"
          },
          {
            "$ref": "#/components/parameters/references"
          },
          {
            "$ref": "#/components/parameters/structDetail"
          },
          {
            "$ref": "#/components/parameters/accept-encoding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-struct"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "$ref": "#/components/responses/501"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "200": {
        "description": "OK",
        "content": {
          "application/vnd.sdmx.genericdata+xml;version=2.1": {
            "schema": {
              "type": "string"
            }
          },
          "application/vnd.sdmx.structurespecificdata+xml;version=2.1": {
            "schema": {
              "type": "string"
            }
          },
          "application/vnd.sdmx.data+csv;version=1.0.0": {
            "schema": {
              "type": "string"
            }
          },
          "application/vnd.sdmx.data+json;version=1.0.0": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "400": {
        "description": "Bad syntax"
      },
      "404": {
        "description": "Not found"
      },
      "406": {
        "description": "Not acceptable"
      },
      "500": {
        "description": "Internal server error"
      },
      "501": {
        "description": "Not implemented"
      },
      "503": {
        "description": "Service unavailable"
      },
      "200-struct": {
        "description": "OK",
        "content": {
          "application/vnd.sdmx.structure+xml;version=2.1": {
            "schema": {
              "type": "string"
            }
          },
          "application/vnd.sdmx.structure+json;version=1.0.0": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "parameters": {
      "flow": {
        "name": "flow",
        "in": "path",
        "required": true,
        "description": "The **statistical domain** (aka dataflow) of the data to be returned.\n\nExamples:\n\n* `BISWEB_EERDATAFLOW`: The ID of the domain\n* `BIS,BISWEB_EERDATAFLOW`: The BISWEB_EERDATAFLOW domain, maintained by the BIS\n* `BIS,BISWEB_EERDATAFLOW,1.0`: Version 1.0 of the BISWEB_EERDATAFLOW domain, maintained by the BIS\n",
        "schema": {
          "type": "string",
          "pattern": "^([a-zA-Z][a-zA-Z\\d_-]*(\\.[a-zA-Z][a-zA-Z\\d_-]*)*,)?[a-zA-Z\\d_@$-]+(,(latest|(\\d+(\\.\\d+)*)))?$"
        }
      },
      "key": {
        "name": "key",
        "in": "path",
        "required": true,
        "description": "The (possibly partial) **key identifying the data to be returned**. \n\nThe keyword `all` can be used to indicate that all data belonging to the specified dataflow and provided by the specified provider must be returned.\n\nThe examples below are based on the following key: Frequency, Type, Basket, Country.\n * `M.N.B.CH`: Full key, matching exactly one series, i.e. the monthly (`M`) nominal rate (`N`) in the broad basket (`B`) for Switzerland (`CH`).\n * `M.N+R.B.CH`: Retrieves both nominal and real rates (`N+R`), matching exactly two series.\n * `M.N.B.`: The last dimension is wildcarded, and it will therefore match all countries.\n",
        "schema": {
          "type": "string",
          "pattern": "^([\\.A-Za-z\\d_@$-]+(\\+[A-Za-z\\d_@$-]+)*)*$"
        }
      },
      "agencyID": {
        "name": "agencyID",
        "in": "path",
        "required": true,
        "description": "The agency maintaining the artefact used to generate the schema to be returned.",
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z][A-Za-z\\d_-]*(\\.[A-Za-z][A-Za-z\\d_-]*)*$"
        }
      },
      "resourceID": {
        "name": "resourceID",
        "in": "path",
        "required": true,
        "description": "The id of the artefact used to generate the schema to be returned.",
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z\\d_@$-]+$"
        }
      },
      "version": {
        "name": "version",
        "in": "path",
        "required": true,
        "description": "The version of the artefact used to generate the schema to be returned.\n\nThe keyword `latest` can be used to return the latest production version of the matching resource.\n",
        "schema": {
          "type": "string",
          "pattern": "^(latest|[\\d]+(\\.[\\d]+)*)$"
        }
      },
      "agencies": {
        "name": "agencyID",
        "in": "path",
        "required": true,
        "description": "The agency maintaining the artefact to be returned. \n\nIt is possible to set more than one agency, using `+` as separator (e.g. BIS+ECB).\n\nThe keyword `all` can be used to indicate that artefacts maintained by any maintenance agency should be returned.\n",
        "schema": {
          "type": "string",
          "pattern": "^(([A-Za-z][A-Za-z\\d_-]*)(\\.[A-Za-z][A-Za-z\\d_-]*)*,)?[A-Za-z\\d_@$-]+(\\+([A-Za-z][A-Za-z\\d_-]*(\\.[A-Za-z][A-Za-z\\d_-]*)*,)?[A-Za-z\\d_@$-]+)*$"
        }
      },
      "resourceIDs": {
        "name": "resourceID",
        "in": "path",
        "required": true,
        "description": "The id of the artefact to be returned.\n\nIt is possible to set more than one id, using `+` as separator (e.g. CL_FREQ+CL_CONF_STATUS).\n\nThe keyword `all` can be used to indicate that any artefact of the specified resource type, {agencyID} and {version} should be returned. \n",
        "schema": {
          "type": "string",
          "pattern": "^([A-Za-z\\d_@$-]+(\\+[A-Za-z\\d_@$-]+)*)*$"
        }
      },
      "versions": {
        "name": "version",
        "in": "path",
        "required": true,
        "description": "The version of the artefact to be returned. \n\nIt is possible to set more than one version, using `+` as separator (e.g. 1.0+2.1).\n\nThe keyword `all` can be used to return all versions of the matching resource.\n\nThe keyword `latest` can be used to return the latest production version of the matching resource.\n",
        "schema": {
          "type": "string",
          "pattern": "^(all|latest|[\\d]+(\\.[\\d]+)*(\\+[\\d]+(\\.[\\d]+)*)*)$"
        }
      },
      "items": {
        "name": "itemID",
        "in": "path",
        "required": true,
        "description": "The id of the item to be returned. \n\nIt is possible to set more than one id, using `+` as separator (e.g. A+Q+M).\n\nThe keyword `all` can be used to return all items of the matching resource.\n",
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z\\d_@$-]+(\\.[A-Za-z\\d_@$-]+)*(\\+[A-Za-z\\d_@$-]+(\\.[A-Za-z\\d_@$-]+)*)*$"
        }
      },
      "componentID": {
        "name": "componentID",
        "in": "path",
        "required": true,
        "description": "The id of the Dimension for which to obtain availability information about. Use all to indicate that data availability should be provided for all dimensions.\n",
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z][A-Za-z\\d_-]*$"
        }
      },
      "startPeriod": {
        "name": "startPeriod",
        "in": "query",
        "required": false,
        "description": "The start of the period for which results should be supplied (inclusive).\n\nCan be expressed using 8601 dates or SDMX reporting periods. \n\nExamples:\n* `2000`: Year (ISO 8601)\n* `2000-01`: Month (ISO 8601)\n* `2000-01-01`: Date (ISO 8601)\n* `2000-Q1`: Quarter (SDMX)\n* `2000-W01`: Week (SDMX)\n",
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-?((\\d{2}(-\\d{2})?)|A1|S[1|2]|Q[1-4]|T[1-3]|M(0[1-9]|1[0-2])|W(0[1-9]|[1-4][0-9]|5[0-3])|D(0[0-9][1-9]|[1-2][0-9][0-9]|3[0-5][0-9]|36[0-6]))?$"
        }
      },
      "endPeriod": {
        "name": "endPeriod",
        "in": "query",
        "required": false,
        "description": "The end of the period for which results should be supplied (inclusive).\n\nCan be expressed using 8601 dates or SDMX reporting periods. \n\nExamples:\n* `2000`: Year (ISO 8601)\n* `2000-01`: Month (ISO 8601)\n* `2000-01-01`: Date (ISO 8601)\n* `2000-S1`: Semester (SDMX)\n* `2000-D001`: Day (SDMX)\n",
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-?((\\d{2}(-\\d{2})?)|A1|S[1|2]|Q[1-4]|T[1-3]|M(0[1-9]|1[0-2])|W(0[1-9]|[1-4][0-9]|5[0-3])|D(0[0-9][1-9]|[1-2][0-9][0-9]|3[0-5][0-9]|36[0-6]))?$"
        }
      },
      "firstNObservations": {
        "name": "firstNObservations",
        "in": "query",
        "required": false,
        "description": "The maximum number of observations to be returned starting from the oldest one\n",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "lastNObservations": {
        "name": "lastNObservations",
        "in": "query",
        "required": false,
        "description": "The maximum number of observations to be returned starting from the most recent one\n",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "detail": {
        "name": "detail",
        "in": "query",
        "required": false,
        "description": "The **amount of information** to be returned. \n\nPossible options are: \n\n* `full`: All data and documentation\n* `dataonly`: Everything except attributes\n* `serieskeysonly`: The series keys. This is useful to return the series that match a certain query, without returning the actual data (e.g. overview page)\n* `nodata`: The series, including attributes and annotations, without observations.\n",
        "schema": {
          "type": "string",
          "enum": [
            "full",
            "dataonly",
            "serieskeysonly",
            "nodata"
          ],
          "default": "full"
        }
      },
      "structDetail": {
        "name": "detail",
        "in": "query",
        "required": false,
        "description": "The amount of information to be returned. \n\nPossible values are: \n\n* `allstubs`: All artefacts should be returned as stubs, containing only identification information, as well as the artefacts' name\n* `referencestubs`: Referenced artefacts should be returned as stubs, containing only identification information, as well as the artefacts' name\n* `referencepartial`: Referenced item schemes should only include items used by the artefact to be returned. For example, a concept scheme would only contain the concepts used in a DSD, and its isPartial flag would be set to `true`\n* `allcompletestubs`: All artefacts should be returned as complete stubs, containing identification information, the artefacts' name, description, annotations and isFinal information\n* `referencecompletestubs`: Referenced artefacts should be returned as complete stubs, containing identification information, the artefacts' name, description, annotations and isFinal information\n* `full`: All available information for all artefacts should be returned\n",
        "schema": {
          "type": "string",
          "enum": [
            "allstubs",
            "referencestubs",
            "referencepartial",
            "allcompletestubs",
            "referencecompletestubs",
            "full"
          ],
          "default": "full"
        }
      },
      "references": {
        "name": "references",
        "in": "query",
        "required": false,
        "description": "Instructs the web service to return (or not) the artefacts referenced by the artefact to be returned.\n\nPossible values are: \n\n* `none`: No references will be returned\n* `parents`: Returns the artefacts that use the artefact matching the query\n* `parentsandsiblings`: Returns the artefacts that use the artefact matching the query, as well as the artefacts referenced by these artefacts\n* `children`: Returns the artefacts referenced by the artefact to be returned\n* `descendants`: References of references, up to any level, will be returned\n* `all`: The combination of parentsandsiblings and descendants\n* In addition, a concrete type of resource may also be used (for example, references=codelist).\n",
        "schema": {
          "type": "string",
          "enum": [
            "none",
            "parents",
            "parentsandsiblings",
            "children",
            "descendants",
            "all",
            "datastructure",
            "categoryscheme",
            "conceptscheme",
            "codelist",
            "hierarchicalcodelist",
            "agencyscheme",
            "dataflow",
            "provisionagreement",
            "categorisation",
            "contentconstraint",
            "actualconstraint",
            "allowedconstraint"
          ],
          "default": "none"
        }
      },
      "mode": {
        "name": "mode",
        "in": "query",
        "required": false,
        "description": "Instructs the web service to return a ContentConstraint which defines a Cube Region containing values which will be returned by executing the query (mode=\"exact\") vs a Cube Region showing what values remain valid selections that could be added to the data query (mode=\"available\"). A valid selection is one which results in one or more series existing for the selected value, based on the current data query selection state defined by the current path parameters.\n",
        "schema": {
          "type": "string",
          "enum": [
            "exact",
            "available"
          ],
          "default": "exact"
        }
      },
      "acreferences": {
        "name": "references",
        "in": "query",
        "required": false,
        "description": "Instructs the web service to return (or not) the artefacts referenced by the ContentConstraint to be returned.\n",
        "schema": {
          "type": "string",
          "enum": [
            "none",
            "all",
            "datastructure",
            "conceptscheme",
            "codelist",
            "dataproviderscheme",
            "dataflow"
          ],
          "default": "none"
        }
      },
      "accept-encoding": {
        "name": "Accept-Encoding",
        "in": "header",
        "description": "Specifies whether the response should be compressed and how. \n\n`identity` (the default) indicates that no compression will be performed.\n",
        "schema": {
          "type": "string",
          "enum": [
            "br",
            "compress",
            "deflate",
            "exi",
            "gzip",
            "identity",
            "pack200-gzip",
            "zstd"
          ],
          "default": "identity"
        }
      }
    }
  },
  "info": {
    "x-ballerina-display": {
      "label": "BIS Stats",
      "iconPath": "icon.png"
    },
    "version": "1.4.0",
    "title": "SDMX RESTful API",
    "description": "This is a generated connector for [BIS SDMX RESTful API v1](https:\/\/stats.bis.org\/api-doc\/v1\/) OpenAPI specification.\nThe BIS SDMX RESTful API is a subset of the official SDMX RESTful API v1.4.0, released in June 2019.\nThis service offers programmatic access to the BIS statistical data and metadata published on the [BIS statistics pages](https:\/\/www.bis.org\/statistics\/index.htm) released to the public.\nFor additional information about the SDMX RESTful API, check the [official sdmx-rest specification](https:\/\/github.com\/sdmx-twg\/sdmx-rest\/tree\/master\/v2_1\/ws\/rest\/docs) or the [dedicated Wiki](https:\/\/github.com\/sdmx-twg\/sdmx-rest\/wiki), including [**useful tips for consumers**](https:\/\/github.com\/sdmx-twg\/sdmx-rest\/wiki\/Tips-for-consumers).\n",
    "x-ballerina-init-description": "The connector initialization doesn't require setting the API credentials. \nPlease refer the [API documentation](https:\/\/stats.bis.org\/api-doc\/v1\/) for more information.\n"
  }
}
