{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://api.askspoke.com/api/v1",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/requests/{requestId}/merge": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Merge requests",
        "description": "Merge a list of spoke requests to a primary request. Merging a request carries out the following actions – 1. Mark all the tasks of the secondary requests as completed. 2. Lock all the secondary requests. 3. Add all the viewers of secondary requests to primary request.",
        "operationId": "mergeRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "the request id of the request you wish to merge in to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "MergeRequest payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requests"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "description": "Request ids to be merged into the request in the path parameter"
                  }
                },
                "example": {
                  "requests": [
                    "5c61e9f43e8c4c11f53240f8"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List tags",
        "description": "Returns a list of tags.",
        "operationId": "getTags",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the tag to start with.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of tags to return. Defaults to 25.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "A search query to search tags for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "query",
            "required": false,
            "description": "A comma separated list of tags",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of the tags."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of tags."
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of tags returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/{requestId}": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "Get a request",
        "description": "Get a request.",
        "operationId": "getRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "the ID of the request, 24 characters, hexadecimal",
            "schema": {
              "type": "string"
            },
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        ],
        "responses": {
          "200": {
            "description": "Request object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Requests"
        ],
        "summary": "Delete a request",
        "description": "Delete a request.",
        "operationId": "deleteRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "the ID of the request, 24 characters, hexadecimal",
            "schema": {
              "type": "string"
            },
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Requests"
        ],
        "summary": "Update a request",
        "description": "Update a request.",
        "operationId": "updateRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "the ID of the request, 24 characters, hexadecimal",
            "schema": {
              "type": "string"
            },
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        ],
        "requestBody": {
          "description": "RequestPatchBody payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated request object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/configlists/{listId}": {
      "post": {
        "tags": [
          "ConfigList"
        ],
        "summary": "Create a config list.",
        "description": "Create a single config list.",
        "operationId": "addConfigList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "description": "List ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ConfigList payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A config list object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ConfigList"
        ],
        "summary": "Delete a config list.",
        "description": "Delete a single config list.",
        "operationId": "deleteConfigList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "description": "the ID of the configlist, 24 characters, hexadecimal",
            "schema": {
              "type": "string"
            },
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ConfigList"
        ],
        "summary": "Update a config list.",
        "description": "Update a single config list.",
        "operationId": "updateConfigList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "description": "the ID of the configlist, 24 characters, hexadecimal",
            "schema": {
              "type": "string"
            },
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        ],
        "requestBody": {
          "description": "ConfigList payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A config list object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/{requestId}/subscribers/{userId}": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Add a subscriber",
        "description": "Add a subscriber to a request",
        "operationId": "AddSubscriberToRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "ID of the request that will have the new subscriber.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "ID of the user to subscribe to the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All request subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Requests"
        ],
        "summary": "Remove a subscriber",
        "description": "Remove a subscriber to a request",
        "operationId": "RemoveSubscriberFromRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "ID of the request that will have the subscriber removed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "ID of the user to remove as a subscriber.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All request subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a user",
        "description": "Get a user.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "ID of the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "description": "Update a user.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "ID of user that needs to be updated.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateUser payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "New display name.",
                    "example": "Jane Doe"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "New phone number of the user.",
                    "example": 1234567890
                  },
                  "countryId": {
                    "type": "string",
                    "description": "country of the users phone number.",
                    "example": "US"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "New email of the user."
                  },
                  "profile": {
                    "$ref": "#/components/schemas/Profile"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/request_types/{requestTypeId}": {
      "get": {
        "tags": [
          "RequestTypes"
        ],
        "summary": "Get a request type.",
        "description": "Return a single equest type.",
        "operationId": "getRequestType",
        "parameters": [
          {
            "name": "requestTypeId",
            "in": "path",
            "required": true,
            "description": "id of the request type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A request type object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "List resources",
        "description": "Return a list of resources.",
        "operationId": "getResources",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "A search query to search resources for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ai",
            "in": "query",
            "required": false,
            "description": "Whether or not to use AI-based search. Requires q to be set as well.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Parameter to get resources by status.  0 = ok, 1 = needs_review, 2 = deprecated..",
            "schema": {
              "type": "string",
              "enum": [
                0,
                1,
                2
              ]
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Get resources belonging to one or more teams. Send comma-separated string for multiple teams, \"none\" for no team",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Get resources created one or more authors. Send comma-separated string for multiple authors.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewBy",
            "in": "query",
            "required": false,
            "description": "Get resources up for review before this timestamp (ms since epoch).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the request to start with.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of parameters to return. Defaults to 25.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of resources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Resource"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of the resources."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of resouces."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of resouces returned."
                    },
                    "newStart": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Where to start next request for pagination."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a resource",
        "description": "Create a new askSpoke resource. Users with Administrator permissions can create a resource with anyone as the author. Regularly permissioned users can only author requests as themselves.",
        "operationId": "addResource",
        "requestBody": {
          "description": "ResourcePostBody payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcePostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/configlists": {
      "get": {
        "tags": [
          "ConfigList"
        ],
        "summary": "List config lists",
        "description": "Return a list of CMDB lists.",
        "operationId": "getConfigLists",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Parameter for text-searching lists by name or item name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the list to start with.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of lists to return. Defaults to 25.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": false,
            "description": "comma-separated list of listids to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withItem",
            "in": "query",
            "required": false,
            "description": "comma-separated list of itemids to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of config lists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConfigList"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of config lists."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of lists."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of lists returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users/email/{address}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a user by email",
        "description": "Look up a user by email address.",
        "operationId": "getUserByEmail",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Email address of the user. Case insensitive.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List teams",
        "description": "Return a list of teams.",
        "operationId": "getTeams",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Text search to search teams for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ai",
            "in": "query",
            "required": false,
            "description": "Whether or not to use AI-based search. Requires q to be set as well.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of team slugs to get.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the request to start with. Ignored if ai is set to true.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of parameters to return. Defaults to 25. Ignored if ai is set to true.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of the teams."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of teams."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit of teams returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/bulk_add_tag": {
      "patch": {
        "tags": [
          "Requests"
        ],
        "summary": "Bulk add tags",
        "description": "Add a tag to multiple requests.",
        "operationId": "bulkAddTags",
        "requestBody": {
          "description": "A payload containing the tag id of the tag to be added and a list of request ids that the tag will be added to.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requests",
                  "tag"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "the IDs of the requests to be updated, 24 characters, hexadecimal"
                  },
                  "tag": {
                    "type": "string",
                    "description": "ID of the tag to add to the requests."
                  }
                },
                "example": {
                  "requests": [
                    "5c61e9f43e8c4c11f53240f8"
                  ],
                  "tag": "5c61e9f43e8c4c11f532000"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "Return a list of users.",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Text search to search user for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter user based on status.",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INVITED"
              ]
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Filter user based on team.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the request to start with.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of parameters to return. Defaults to 10.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of the users."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of users."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of users returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/request_types": {
      "get": {
        "tags": [
          "RequestTypes"
        ],
        "summary": "List request types",
        "description": "Return a list of request types.",
        "operationId": "getRequestTypes",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Parameter for text-searching requestTypes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Get request types belonging to a team.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the request type to start with.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of request types to return. Defaults to 25.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "sort order for the returned request types",
            "schema": {
              "type": "string",
              "enum": [
                "createdLast",
                "createdFirst",
                "updated",
                "text"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of request types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RequestType"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of the request types."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of request types."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of request types returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Get a webhook subscription",
        "description": "Get a webhook subscription.",
        "operationId": "getWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The ID of the webhook to get.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook Subscription object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Delete a  webhook subscription.",
        "description": "Delete a  webhook subscription.",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "ID of  webhook subscription to deleted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Update a webhook subscription",
        "description": "Update a webhook subscription.",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "ID of the webhook subscription that needs to be updated.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "WebhookSubscriptionPostBody payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionPostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook subscription object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/{requestId}/messages": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Post a message",
        "description": "Post a message to a request. The message will show up in the Request Panel. If creating a message as a User, the user id included in the POST body must match the user that generated the API key",
        "operationId": "postRequestMessage",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "ID of the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "PostRequestMessage payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "actor",
                  "content"
                ],
                "properties": {
                  "actor": {
                    "$ref": "#/components/schemas/UpdateActor"
                  },
                  "content": {
                    "$ref": "#/components/schemas/MessageContent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "List requests",
        "description": "Return a list of requests.",
        "operationId": "getRequests",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Parameter to filter queries",
            "schema": {
              "type": "string",
              "enum": [
                "inbox",
                "unassigned",
                "sent"
              ],
              "default": "inbox"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Parameter to get requests by status. Should be a comma-separated string of statuses.",
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "PENDING",
                "LOCKED",
                "RESOLVED",
                "AUTO_RESOLVED"
              ],
              "default": "OPEN"
            },
            "example": "OPEN,RESOLVED"
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Get requests belonging to this team",
            "schema": {
              "type": "string"
            },
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Get requests tagged with this tag. Accepts a comma-separated string of many tags, and returns requests that match any provided tag. The keyword `none` can also be passed to return requests that are not tagged.",
            "schema": {
              "type": "string"
            },
            "example": "5eac9b4b0972029e5ca5dde1,none"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Searches and returns request with this text",
            "schema": {
              "type": "string"
            },
            "example": "wifi"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the request to start with",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of requests to return at once. Max is 100.",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "The order by which requests should be returned. When querying with a `q` param, results will be sorted by their similarity to the query when no other `sort` is specified.",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "updatedFirst",
                "createdLast",
                "createdFirst",
                "slaAscending"
              ],
              "default": "updated"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Request"
                      },
                      "description": "The list of requests itself."
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of requests."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of requests."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of requests returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Create new request",
        "description": "Create a new askSpoke request. Admins can create a request with anyone as the requester while regularly priviledged users can only request for themselves.",
        "operationId": "addRequest",
        "requestBody": {
          "description": "AddRequest payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "requester"
                ],
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "Request subject.",
                    "example": "What's the Wi-Fi password?"
                  },
                  "body": {
                    "type": "string",
                    "description": "a longer description of the request",
                    "example": "I swear I had it yesterday..."
                  },
                  "requester": {
                    "type": "string",
                    "description": "user id of person who will be the requester",
                    "example": "5c61e9f43e8c4c11f53240f8"
                  },
                  "owner": {
                    "type": "string",
                    "description": "user id of the person the request will be assigned to. Will be automatically delegated if left blank",
                    "example": "5c61e9f43e8c4c11f53240f8"
                  },
                  "team": {
                    "type": "string",
                    "description": "ID of the team to assign the request to.",
                    "example": "5c61e9f43e8c4c11f53240f8"
                  },
                  "privacyLevel": {
                    "type": "string",
                    "enum": [
                      "private",
                      "public"
                    ],
                    "description": "Privacy level for the request."
                  },
                  "requestType": {
                    "type": "string",
                    "description": "ID of the request type form.",
                    "example": "5c61e9f43e8c4c11f53240f8"
                  },
                  "requestTypeInfo": {
                    "$ref": "#/components/schemas/RequestTypeInfo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/tasks": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "Get open tasks",
        "description": "Return open tasks with requests subject and permalinkId.",
        "operationId": "getOpenTasks",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of the task to start with.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of tasks to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "byDueDate",
            "in": "query",
            "required": false,
            "description": "Whether to sort tasks by due date or not.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RequestTask"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of tasks."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of tasks."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of tasks returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/resources/{resourceId}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a resource",
        "description": "Get a resource.",
        "operationId": "getResource",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "ID of the resource.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Delete a resource",
        "description": "Delete a resource.",
        "operationId": "deleteResource",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "ID of resource that needs to be deleted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Resources"
        ],
        "summary": "Update a resource",
        "description": "Update a resource.",
        "operationId": "updateResource",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "ID of the resource that needs to be updated.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ResourcePostBody payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcePostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/whoami": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get API user details",
        "description": "Returns user id, name, current org and role for the API key.",
        "operationId": "whoami",
        "responses": {
          "200": {
            "description": "User and Org details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "org": {
                      "type": "string",
                      "description": "current org id",
                      "example": "askSpoke"
                    },
                    "user": {
                      "type": "string",
                      "description": "user id",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "user name",
                      "example": "Jane Doe"
                    },
                    "role": {
                      "type": "string",
                      "description": "user role",
                      "example": "MEMBER"
                    },
                    "status": {
                      "type": "string",
                      "description": "user status",
                      "example": "ACTIVE"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get a team",
        "description": "Get a team.",
        "operationId": "getTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "ID of the team.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "summary": "Update a team",
        "description": "Update a team.",
        "operationId": "updateTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "ID of the team.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "TeamPatchBody payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamPatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Lists webhook subscriptions",
        "description": "An array of all the webhook subscriptions for this user on this org.",
        "operationId": "getWebhooks",
        "responses": {
          "200": {
            "description": "Lists all the webhook subscriptions for this user on this org.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookSubscription"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Creates a new webhook subscription",
        "description": "Sign up to receive webhooks from askSpoke.",
        "operationId": "addWebhook",
        "requestBody": {
          "description": "WebhookSubscriptionPostBody payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionPostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/{requestId}/tags": {
      "patch": {
        "tags": [
          "Requests"
        ],
        "summary": "Add tags",
        "description": "Add tags to a request.",
        "operationId": "AddTagsToRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "ID of the request that needs to be updated.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "AddTagsToRequest payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "a tag id",
                          "example": "5c61e9f43e8c4c11f53240f8"
                        }
                      }
                    },
                    "description": "Tag ids to add"
                  }
                },
                "example": {
                  "tags": [
                    {
                      "_id": "5c61e9f43e8c4c11f53240f7"
                    },
                    {
                      "_id": "5c61e9f43e8c4c11f53240f8"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/{requestId}/secondary": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "Get merged requests",
        "description": "Gets requests merged into the given request.",
        "operationId": "getMergedRequests",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "the request id of the request for which you wish to see the merged requests of",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The index of merged requests to start with",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of requests merged with your initial request to return. Defaults to 25.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of requests.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Request"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of the requests."
                    },
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start offset for this set of requests."
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of requests returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/requests/{requestId}/tags/{tagId}": {
      "delete": {
        "tags": [
          "Requests"
        ],
        "summary": "Delete tag",
        "description": "Delete tag from a request.",
        "operationId": "DeleteTagFromRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "ID of the request that needs to be updated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "description": "ID of the tag to remove from the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Request": {
        "type": "object",
        "required": [
          "subject",
          "requester"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID",
            "readOnly": true,
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "requester": {
            "type": "string",
            "description": "Requester",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "owner": {
            "type": "string",
            "description": "Owner",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "subject": {
            "type": "string",
            "description": "Subject",
            "example": "What's the Wi-Fi passowrd?"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus",
            "description": "Status"
          },
          "requestType": {
            "type": "object",
            "description": "Request type",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "requestTypeInfo": {
            "$ref": "#/components/schemas/RequestTypeInfoResponse",
            "description": "Request type info"
          },
          "privacyLevel": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Privacy level"
          },
          "team": {
            "type": "string",
            "description": "Team",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "org": {
            "type": "string",
            "description": "Org",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "isAutoResolved": {
            "type": "boolean",
            "description": "Is auto resolved"
          },
          "isFiled": {
            "type": "boolean",
            "description": "is filed"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email",
            "readOnly": true
          },
          "permalink": {
            "type": "string",
            "format": "url",
            "description": "Permalink",
            "readOnly": true,
            "example": "https://example.askspoke.com/requests/8782"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          },
          "resolveTime": {
            "type": "integer",
            "description": "Resolve time",
            "readOnly": true,
            "example": 123456
          },
          "teamResponseTimeInMs": {
            "type": "integer",
            "description": "Team response time in ms",
            "readOnly": true,
            "example": 123456
          },
          "lastResolvedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last resolved at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5c61e9f43e8c4c11f53240f8"
            },
            "description": "Tags"
          },
          "taskInstances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInstanceResponse"
            },
            "description": "Task instances"
          }
        },
        "description": "Request object."
      },
      "RequestPatchBody": {
        "type": "object",
        "properties": {
          "requester": {
            "type": "string",
            "description": "New requester user id",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "owner": {
            "type": "string",
            "description": "New request owner user id",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "subject": {
            "type": "string",
            "description": "New request subject",
            "example": "What's the Wi-Fi passowrd?"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus"
          },
          "requestType": {
            "type": "object",
            "description": "New request type id",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "requestTypeInfo": {
            "$ref": "#/components/schemas/RequestTypeInfo"
          },
          "taskInstances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInstance"
            },
            "description": "Task instances"
          },
          "privacyLevel": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "New privacy level"
          },
          "team": {
            "type": "string",
            "description": "New team id",
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        },
        "description": "Request PATCH object."
      },
      "RequestStatus": {
        "type": "string",
        "enum": [
          "AUTO_RESOLVED",
          "OPEN",
          "RESOLVED"
        ],
        "description": "Request statuses."
      },
      "RequestTask": {
        "type": "object",
        "required": [
          "subject"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID",
            "readOnly": true,
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "subject": {
            "type": "string",
            "description": "Subject",
            "example": "What's the Wi-Fi passowrd?"
          },
          "permalinkId": {
            "type": "integer",
            "description": "Permalink ID",
            "example": 123
          },
          "taskInstances": {
            "$ref": "#/components/schemas/TaskInstance",
            "description": "Task instances"
          },
          "sortField": {
            "type": "string",
            "format": "date-time",
            "description": "Sort field",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          }
        },
        "description": "Request containing single task object."
      },
      "TaskInstance": {
        "type": "object",
        "required": [
          "uuid"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "description": "UUID",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "owner": {
            "type": "string",
            "description": "Owner",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "COMPLETED",
              "TOMBSTONED"
            ],
            "description": "Status"
          },
          "dueDate": {
            "type": "string",
            "description": "Due date",
            "example": "2021-01-01T08:00:00.000Z"
          }
        },
        "description": "Task instances"
      },
      "TaskInstanceResponse": {
        "type": "object",
        "required": [
          "subject"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "description": "UUID",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "subject": {
            "type": "string",
            "description": "Subject",
            "example": "Add user to Okta."
          },
          "taskTemplate": {
            "$ref": "#/components/schemas/TaskTemplate",
            "description": "Task template"
          },
          "requestTypeId": {
            "type": "string",
            "description": "Request type ID",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "isRequired": {
            "type": "boolean",
            "description": "Is required"
          },
          "parentTaskUUIDs": {
            "type": "string",
            "description": "Parent task UUIDs",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "isApproval": {
            "type": "boolean",
            "description": "Is Approval"
          },
          "approvalState": {
            "type": "string",
            "enum": [
              "APPROVED",
              "DENIED"
            ],
            "description": "Approval State"
          },
          "owner": {
            "type": "string",
            "description": "Owner",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "description": "Due date",
            "example": "2019-02-27T18:54:09.980Z"
          },
          "wasManuallyReassigned": {
            "type": "boolean",
            "description": "Was manually reassigned"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "COMPLETED",
              "TOMBSTONED"
            ],
            "description": "Status"
          },
          "timestamps": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamps",
            "example": "2019-02-27T18:54:09.980Z"
          }
        },
        "description": "A representation of a single task on a request"
      },
      "Resource": {
        "type": "object",
        "required": [
          "subject",
          "requester"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID",
            "readOnly": true,
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "link",
              "file"
            ],
            "description": "Type"
          },
          "author": {
            "type": "string",
            "description": "Author",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Wi-Fi password"
          },
          "body": {
            "type": "string",
            "description": "Body",
            "example": "<Wi-Fi password here>"
          },
          "file": {
            "type": "object",
            "description": "File",
            "example": "File object"
          },
          "link": {
            "type": "object",
            "description": "Link",
            "example": "Link object"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Keywords",
            "example": "['Wi-Fi', 'password']"
          },
          "team": {
            "type": "string",
            "description": "Team",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "org": {
            "type": "string",
            "description": "Org",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "isDeprecated": {
            "type": "boolean",
            "description": "Is deprecated"
          },
          "needsReview": {
            "type": "boolean",
            "description": "Needs review"
          },
          "reviewStatus": {
            "type": "string",
            "enum": [
              "0",
              "1",
              "2"
            ],
            "description": "Review status",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          }
        },
        "description": "Resource object."
      },
      "ResourcePostBody": {
        "type": "object",
        "required": [
          "title",
          "author"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "The type of the resource. atSpoke supports many types of resources but only text-based ones can be created via API."
          },
          "author": {
            "type": "string",
            "description": "The user id of the author of this resource.",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "title": {
            "type": "string",
            "description": "The title of this resource.",
            "example": "Wi-Fi password"
          },
          "body": {
            "type": "string",
            "description": "The body of this resource.",
            "example": "<Wi-Fi password here>"
          },
          "team": {
            "type": "string",
            "description": "The id of the team this resource should belong to.",
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        },
        "description": "Resource object."
      },
      "BulkAddLabelBody": {
        "type": "object",
        "required": [
          "requests",
          "label"
        ],
        "properties": {
          "requests": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of request ids to add a label to."
          },
          "label": {
            "type": "string",
            "description": "Label id to add to the requests.",
            "example": "5c61e9f43e8c4c11f53240f8"
          }
        },
        "description": "Body to bulk add labels"
      },
      "Team": {
        "type": "object",
        "required": [
          "name",
          "owner"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID",
            "readOnly": true,
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "example": "Engineering"
          },
          "slug": {
            "type": "string",
            "description": "Slug",
            "example": "engineering"
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "Build cool things."
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Keywords",
            "example": "['new feature', 'issue report']"
          },
          "icon": {
            "type": "string",
            "enum": [
              "support",
              "administrative",
              "finance",
              "it",
              "security",
              "sales",
              "legal",
              "hr",
              "events",
              "cleaning",
              "design",
              "engineering",
              "facilities",
              "operations",
              "recruiting"
            ],
            "description": "Icon",
            "example": "engineering"
          },
          "color": {
            "type": "string",
            "enum": [
              "blue",
              "cyan",
              "green",
              "grey",
              "indigo",
              "purple",
              "red",
              "pink",
              "yellow"
            ],
            "description": "Color",
            "example": "blue"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "CLOSED"
            ],
            "description": "Status",
            "example": "ACTIVE"
          },
          "goals": {
            "type": "object",
            "description": "Goals",
            "example": "{...}"
          },
          "agentList": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Agent list",
            "example": "[...]"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          },
          "owner": {
            "type": "string",
            "description": "Owner",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "org": {
            "type": "string",
            "description": "Org",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email",
            "readOnly": true
          },
          "permalink": {
            "type": "string",
            "format": "url",
            "description": "Permalink",
            "readOnly": true,
            "example": "https://example.askspoke.com/teams/engineering"
          },
          "settings": {
            "$ref": "#/components/schemas/TeamSettings",
            "description": "Settings"
          }
        },
        "description": "Team object."
      },
      "TeamPatchBody": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/TeamSettings"
          }
        },
        "description": "Team PATCH object"
      },
      "TeamSettings": {
        "type": "object",
        "properties": {
          "delegation": {
            "$ref": "#/components/schemas/TeamDelegation"
          },
          "flags": {
            "type": "object",
            "properties": {
              "AUTO_DELEGATION": {
                "type": "boolean",
                "description": "whether this team should use auto delegation",
                "example": "false"
              }
            },
            "description": "Flags"
          }
        },
        "description": "Team settings"
      },
      "TeamDelegation": {
        "type": "object",
        "properties": {
          "strategy": {
            "$ref": "#/components/schemas/TeamDelegationStrategy"
          },
          "specificUser": {
            "type": "string",
            "description": "user id, valid only for SPECIFIC_USER strategy",
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "excludedUsers": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5c61e9f43e8c4c11f53240f8"
            },
            "description": "user ids of excluded users, valid only for ROUND_ROBIN strategy"
          }
        },
        "description": "Team delegation settings"
      },
      "TeamDelegationStrategy": {
        "type": "string",
        "enum": [
          "SPECIFIC_USER",
          "ROUND_ROBIN",
          "SMART_ASSIGNMENT"
        ],
        "description": "Team delegation strategies."
      },
      "User": {
        "type": "object",
        "required": [
          "email",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID",
            "readOnly": true,
            "example": "5c61e9f43e8c4c11f53240f8"
          },
          "displayName": {
            "type": "string",
            "description": "Display name",
            "example": "Jane Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email"
          },
          "isEmailVerified": {
            "type": "boolean",
            "description": "Is email verified",
            "readOnly": true
          },
          "isProfileCompleted": {
            "type": "boolean",
            "description": "Is profile completed",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INVITED"
            ],
            "description": "Status",
            "example": "ACTIVE"
          },
          "profile": {
            "$ref": "#/components/schemas/Profile",
            "description": "Profile"
          },
          "memberships": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Memberships",
            "example": "[...]"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "readOnly": true,
            "example": "2019-02-27T18:54:09.980Z"
          }
        },
        "description": "User object."
      },
      "CustomNavList": {
        "type": "object",
        "required": [
          "name",
          "slug"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "slug": {
            "type": "string",
            "description": "Slug"
          },
          "filters": {
            "type": "object",
            "properties": {
              "status": {
                "type": "object",
                "properties": {
                  "includeNoValue": {
                    "type": "boolean",
                    "description": "Include no value",
                    "default": false
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "description": "Values"
                  }
                },
                "description": "Status"
              },
              "team": {
                "type": "object",
                "properties": {
                  "includeNoValue": {
                    "type": "boolean",
                    "description": "Include no value",
                    "default": false
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "description": "Values"
                  }
                },
                "description": "Team"
              },
              "requestType": {
                "type": "object",
                "properties": {
                  "includeNoValue": {
                    "type": "boolean",
                    "description": "Include no value",
                    "default": false
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "description": "Values"
                  }
                },
                "description": "Request type"
              },
              "assignee": {
                "type": "object",
                "properties": {
                  "includeNoValue": {
                    "type": "boolean",
                    "description": "Include no value",
                    "default": false
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "description": "Values"
                  }
                },
                "description": "Assignee"
              },
              "requester": {
                "type": "object",
                "properties": {
                  "includeNoValue": {
                    "type": "boolean",
                    "description": "Include no value",
                    "default": false
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "description": "Values"
                  }
                },
                "description": "Requester"
              },
              "follower": {
                "type": "object",
                "properties": {
                  "includeNoValue": {
                    "type": "boolean",
                    "description": "Include no value",
                    "default": false
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "5c61e9f43e8c4c11f53240f8"
                    },
                    "description": "Values"
                  }
[...]
