{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.bulksms.com/v1"
    }
  ],
  "paths": {
    "/messages/{id}": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Shows Message",
        "description": "Get a the message by `id`.\n```http\nGET \/v1\/messages\/4023457654\n```\n",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` of the message you want to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The message detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The content or structure of your submission, or a parameter, was found to be invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "A [not-found error](errors/#not-found) if the message cannot be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Lists webhooks",
        "description": "Contains a list of your webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "Array of Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Creates a webhook",
        "description": "A webhook is an URL that you can register when you want the BulkSMS system to notify you about your messages.\nYou can register multiple webhooks, and each one will be called.  (Note: you can also use our [Web App](https:\/\/www.bulksms.com\/account\/#!\/advanced-settings\/webhooks) to manage your webhooks interactively.)  \nIf you want to be notified of `SENT` messages and `RECEIVED` messages you need to create two webhooks.\n\n### Implementing your webhook\n\nCode samples of Webhook implementations:\n* [PHP](samples\/webhook-php.html)\n\nWhen you implement your webhook, there are a few rules to be aware of:\n- Your webhook must process `POST` requests that contains an array of messages in the post body.  This input given to your webhook has the same structure as the output produced when you call [Retrieve Messages](#tag\/Message%2Fpaths%2F~1messages%2Fget).\n- When you register or update your webhook, the URL will be tested by invoking it with an empty array (`[]`).\n- It is possible for your webhook to receive multiple updates for the same message and status. It happens from time to time that the mobile network duplicates status updates.\n- The order by which the webhook is invoked can be unexpected.  For example, if sender A replies before sender B, your webhook might get the reply from B first.\n- The webhook is expected to comply with good practices with regard to the status code it responds with.\n  - A status code in the `1xx` and `2xx` range is taken as an acknowledgement that the invocation was received and that the webhook host is ready to receive another.\n  - A status code in the `4xx` range is taken as a permanent problem and indicates that the webhook cannot process the message. The specific message that caused the error will be discarded, but your webhook will be invoked again when another message becomes available.\n  - Any other status code will be taken as a temporary problem; and indicates that the BulkSMS system should retry. The specific message that caused the error will not be discarded and your webhook will be invoked again with this message (see the subsequent section for more details on retry processing).\n- Your webhook has to respond within `30` seconds.  If no response is given in this time, the invocation will be retried.\n- It is good idea to add a secret to your URL in order to make it more secure. Here is an example:\n`https:\/\/www.example.com\/hook.php?secret=pass763265word`\n- You can use a non-standard port if necessary, for example: `https:\/\/www.example.com:8321\/hook.php?secret=pass763265word`\n\n\n### The retry process\n\nThe process the BulkSMS systems follow to handle retries is roughly the following:\n- The first retry is scheduled for 90 seconds into the future.\n- After the first retry, subsequent failures will have longer delays, following this sequence - 3 minutes, 6 minutes, 12 minutes thereafter the message will be retried every 15 minutes for a 2 day period.\n- When all retries fail, the message will be discarded.\n\n### Problem reports via email\n\nYour are strongly advised to provide an email address when you register your webhook.\nAn notice will be sent to this email address to keep you in the loop whenever there are problems with your webhook.\nIn order to prevent your inbox from being flooded, the system sends a notice about an observed error no more than once in a 24 hour period.\n\nThe following emails can be expected\n - A __message retrying__ email is sent after an invocation has failed with a retry-able error.  This email is an early warning, allowing you to investigate your systems.\n - A __message discarded__ email is sent after failure email is send when a message is discarded as a consequence of a non-retry-able error.\n",
        "operationId": "createWebhook",
        "requestBody": {
          "description": "Contains the property values for your new webhook\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contains the webhook you created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "The url given for the webhook is not callable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "https://developer.bulksms.com/json/v1/errors/#bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Invoking the Webhook URL caused an error: 403 - Forbidden\n"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Reads a webhook",
        "operationId": "getWebhookByID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` of the webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The properties of a specific webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "The url given for the webhook is not callable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "https://developer.bulksms.com/json/v1/errors/#bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Invoking the Webhook URL caused an error: 403 - Forbidden\n"
                }
              }
            }
          },
          "404": {
            "description": "A webhook with the given id does not exit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "https://developer.bulksms.com/json/v1/errors/#not-found",
                  "title": "Not Found",
                  "status": 404,
                  "detail": "Webhook with id '1' does not exist"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Updates a webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` of the webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the new property values for the webhook\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The properties of the updated webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "description": "A webhook with the given id does not exit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "https://developer.bulksms.com/json/v1/errors/#not-found",
                  "title": "Not Found",
                  "status": 404,
                  "detail": "Webhook with id '1' does not exist"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Deletes a webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` of the webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook was deleted successfully",
            "content": {}
          },
          "404": {
            "description": "A webhook with the given id does not exit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "https://developer.bulksms.com/json/v1/errors/#not-found",
                  "title": "Not Found",
                  "status": 404,
                  "detail": "Webhook with id '1' does not exist"
                }
              }
            }
          }
        }
      }
    },
    "/messages/send": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Sends message by simple GET or POST",
        "description": "A really simple interface for people who require a GET mechanism to submit a single message.\n\nThe URI is interpreted as UTF-8. HTTP Basic Auth is used for authentication.\n\n__Note__ BulkSMS recommends that you use the more flexible Send Messages Operation when submitting SMS messages from your application.\n\nHere is an example of a GET\n```http\nGET \/v1\/messages\/send?to=%2b270000000&body=Hello%20World\n```\n\nYou can also use the same parameters to POST form encoded fields to `\/messages`.\nHere is an example of a POST\n```http\nPOST \/v1\/messages\nContent-Type: application\/x-www-form-urlencoded\n\nto=%2b27000000000&body=Hello+World\n```\n",
        "operationId": "SendMessage",
        "parameters": [
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The phone number of the recipient.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "query",
            "required": true,
            "description": "The text you want to send.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deduplication-id",
            "in": "query",
            "description": "Refer to the `deduplication-id` parameter.",
            "schema": {
              "type": "integer",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "An array of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The content or structure of your submission, or a parameter, was found to be invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.  Inspect the body of the response for further details - for example, you may have insufficient credits remaining",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "https://developer.bulksms.com/json/v1/errors#insufficient-credits",
                  "title": "Insufficient Credits",
                  "status": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/blocked-numbers": {
      "get": {
        "tags": [
          "Blocked Numbers"
        ],
        "summary": "Lists blocked numbers",
        "operationId": "listBlockedNumbers",
        "parameters": [
          {
            "name": "min-id",
            "in": "query",
            "description": "Records with an `id` that is greater or equal to min-id will be returned. The default value is `0`.  You can add 1 to an id that you previously retrieved, to return subsequent records.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return. The default value is `10000`. The value cannot be greater than 10000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of BlockedNumber objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockedNumber"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Blocked Numbers"
        ],
        "summary": "Creates a blocked number",
        "description": "Blocked numbers are phone numbers to which your account is not permitted to send messages.\nThe numbers can be created via this API, by a recipient replying with a STOP message to one\nof your previous SENT messages, or by a BulkSMS administrator.\n\nSending a message to a blocked number will result in the message being assigned a status of\n`FAILED.BLOCKED`. Messages sent to blocked numbers are billed to your account.\n",
        "operationId": "createBlockedNumber",
        "requestBody": {
          "description": "Maximum size: `1000` items",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Empty body upon success",
            "content": {}
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/messages/{id}/relatedReceivedMessages": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Lists Related Messages",
        "description": "Get the messages related to a sent message identified by `id`.\n\nFor more information how this work, see the `relatedSentMessageId` field in the message.\n",
        "operationId": "getSentMessages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` of the sent message",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of related messages.  If the `id` is not a sent message, the array will be empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The content or structure of your submission, or a parameter, was found to be invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/messages": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Retrieves Messages",
        "description": "Retrieve the messages you have sent or received.\n\nAll the parameters are optional.  If a value is not supplied for `filter`, the messages are not filtered.\n\nMessages can be filtered by supplying query clauses in the `filter` parameter. Each clause has the form `name=value` where `name` is the name of a filter field and `value` is a valid value for that field.  A value for a field is optional. Include a clause for a field in the filter only when there is a need to fetch messages that match some value for that field.\nFor a numeric filter field, you can also use the less than operator (`<`).\n\nIf present, the filter value must have at least one clause, but it can contain a combination of clauses. Multiple clauses are separated with the `&` symbol.  Semantically, multiple clauses form a [logical conjunction](https:\/\/en.wikipedia.org\/wiki\/Logical_conjunction).\n\nFor example, if you want to list all messages that were sent as part of a particular submission, your filter contains two clauses and will look something like this\n```\ntype%3DSENT&submission.id%3D1-00000000000522347562\n```\nBecause `filter` is a request parameter, it is important to note that the value for this parameter must be *URL encoded*. In particular, the `=` encodes to `%3D` and the `&` encodes to `%26`.  Note that you do not have to encode the `<` character.\n\nUsing the previous example to illustrate; after encoding and encasing it, the clauses are transformed into a request that looks like this\n```\nGET \/v1\/messages?filter=type%3DSENT%26submission.id%3D1-00000000000522347562\n```\nIf the field name or the field value of a clause is not valid, a [bad_request error](errors#bad-request) is returned instead of the usual result.  The `detail` field of this error provides more information about the problem.\n\nThe table below lists the fields available for filtering\n\n| Field | Type   | Values | Note and example |\n|-------|------|--------------------|------|\n| id            | Integer  | Positive integer  | Use the `id` field with `<` (or with `>`) to fetch messages that are older (or newer) than those that are already fetched. <br\/>`filter=id<123456` |\n| type          | String  | SENT, RECEIVED  | SENT are Mobile Terminating (MT) SMSs; RECEIVED are Mobile Originating (MO) SMSs.<br\/>`filter=type%3DSENT` |\n| submission.id | String  |  | `filter=submission.id%3D1-00000000000522347562` |\n| status.type   | String  | ACCEPTED, SCHEDULED, SENT, DELIVERED, FAILED  | See the message `status.type` field for more information. <br\/>`filter=status.type%3DDELIVERED` |\n| status.id| String  |  | See the message `status.id` field for more information. `filter=status.id%3DFAILED.EXPIRED`|\n| submission.date | String | Formatted Date | A fully specified date (e.g. 2017-01-01T10:00:00+01:00).  Use this field with `<=`, `<`, `>` or `>=` to limit the values. <br\/>`filter=submission.date%3E%3D2017-01-01T10%3A00%3A00%2B01%3A00` |\n| userSuppliedId  | String | | Use a string value you specified in the `userSuppliedId` property when you sent the message. Only `SENT` messages will be retrieved. <br\/>`filter=userSuppliedId%3Dacc009876` |\n",
        "operationId": "retrieveMessages",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of messages that are returned.  The default is 1000.\nThe value of `limit` is not a guarantee that a specific number of messages will be in the response, even if there are more messages available.  Consider the case where you have 150 messages and you specify `limit=50`.  It is possible that only 49 messages will be returned.  The  way to make sure that there are no more messages is to submit a new call using the `id` filter field with the `<` operator (described below).",
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "See the message filtering for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "The default value is DESCENDING\n\nIf the `sortOrder` is DESCENDING, the newest messages be first in the result.  ASCENDING places the oldest messages on top of the response.\n",
            "schema": {
              "type": "string",
              "enum": [
                "ASCENDING"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains the requested array of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The content or structure of your submission, or a parameter, was found to be invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "using System;\nusing System.IO;\nusing System.Net;\n\n    class MainClass\n    {\n\n        public static void Main(string[] args)\n        {\n            \/** \n            Note in the query string \n            we have a filter to get only the \n            SENT messages\n            *\/\n            string myURI = \"https:\/\/api.bulksms.com\/v1\/messages?filter=type%3DSENT\";\n            string myUsername = \"username\";\n            string myPassword = \"yourPassword\";\n            var request = WebRequest.Create(myURI);\n            request.Credentials = new NetworkCredential(myUsername, myPassword);\n        request.PreAuthenticate = true;\n            request.Method = \"GET\";\n            request.ContentType = \"application\/json\";\n            try\n            {\n                \/\/ make the call to the API\n                var response = request.GetResponse();\n\n                \/\/ read the response and print it to the console\n                var reader = new StreamReader(response.GetResponseStream());\n                Console.WriteLine(reader.ReadToEnd());\n\n            }  catch (WebException ex) {\n        \/\/ show the general message\n        Console.WriteLine(\"An error occurred:\" + ex.Message);\n\n                \/\/ print the detail that come with the HTTP error \n                var reader = new StreamReader(ex.Response.GetResponseStream());\n                Console.WriteLine(\"Error details:\" + reader.ReadToEnd());\n            }\n    }\n}\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Sends batch messages",
        "description": "Send messages to one or more recipients.\n\nYou can post up to `30 000` messages in a batch. \nBut note that the `deduplication-id` is set per submission, so it is recommended that you use a smaller number, like `4000` per submission in order to make resubmissions on network failures more practical.\n\n#### Repliability\n\nWhen a sent message is _repliable_,  the BulkSMS system can process an SMS response sent by your recipient.\n\nThe message sent by your customer is called a mobile originating (MO) message and would be available under `RECEIVED` messages. \nYou can obtain a list of MOs using the [retrieve messages API call](#tag\/Message%2Fpaths%2F~1messages%2Fget).\nIn addition you can also get a list of the MOs that are associated with a specific sent message (see the [list related messages API call](#tag\/Message%2Fpaths%2F~1messages~1%7Bid%7D~1relatedReceivedMessages%2Fget)).\n\nIf you use a specific _sender id_ in the `from` property of the send message, the message will not be repliable.\nIf you want a message to be repliable, you need to specify `REPLIABLE` in the `from.type` property.\n\nIf you do not set the `from` property, your account settings are considered to determine whether or not the message is repliable.\nIf the _default repliable_ setting on your account is _yes_ then the message will be repliable. \nIf this setting is _no_, the message will not be repliable.\n\n\n#### Body templates\n\nWhen sending a message you can use template fields to customise the message text.\n\n*Field based templates* allow you to create a message with place-holders for custom fields.  Fields are identified by a zero based index; the first field is `F0`, the second is `F1` and so on.  \n\nFor example, let's say you want to send a daily SMS message to all your clients that tell them what their current balance is.  The `body` of the message could look something like this \n\n```\nGood morning {F0######}, your balance is {F1######}\n```\n\nIn this message, the first field, `F0`, is the name  of the customer and he second field `F1` is the balance for that customer.  The `#` used to specify the maximum length  of the field.  Note that the maximum length allowed for the value includes the space taken by the braces, template name and hash symbol.  For example, the value `{F0#}` specifies a maximum length of `5`.  If the data is longer than this length, the data will be truncated when the message body is constructed.\n\nThe data fields are provided in the property named `fields` in the `to` element.  Here is a complete example of how this might look\n\n```\n{\n  \"body\": \"Good morning {F0######}, your balance is {F1######}\",\n  \"to\":  [\n      {\"address\": \"27456789\",\"fields\": [\"Harry\", \"$1345.23\"] },\n      {\"address\": \"27456785\",\"fields\": [\"Sally\", \"$2345.58\"] }\n  ]\n}\n```\n\nIf you are sending to contacts (or to groups) in your phonebook, you can use the *Phonebook based templates*.  These are similar to the templates described above, but they have specific names. The template for the contact's first name is identified by `fn` and the template for the contact's surname is identified by `sn`.  Below in an example that will work if the numbers are registered in your phonebook. \n\n```\n{\n  \"body\": \"Hi {fn######} {sn######}, have a great day!\",\n  \"to\":  [\n      {\"address\": \"27456789\" },\n      {\"address\": \"27456785\" }\n  ]\n}\n```\n",
        "operationId": "sendBatchMessages",
        "parameters": [
          {
            "name": "deduplication-id",
            "in": "query",
            "description": "Safeguards against the possibility of sending the same messages more than once.\n\nIf a communication failure occurs during a submission, you cannot be sure that the submission was processed; therefore you would have to submit it again. When you post the retry, you must use the `deduplication-id` of the original post. The BulkSMS system uses this ID to check that the request was not previously processed. (If it was previously processed, the submission will succeed, and the behaviour will be indistinguishable to you from a non-duplicated submission). The ID expires after about 12 hours.\n",
            "schema": {
              "type": "integer",
              "format": "integer"
            }
          },
          {
            "name": "auto-unicode",
            "in": "query",
            "description": "Specifies how to deal with message text that contains characters not present in the GSM 03.38 character set.\n\nMessages that contain only GSM 03.38 characters are not affected by this setting. \nIf the value is `true` then a message containing non-GSM 03.38 characters will be transmitted as a Unicode SMS (which is most likely more costly). \n\nPlease note: when `auto-unicode` is `true` and the value of the `encoding` property is specified as `UNICODE`, the message will always be sent as `UNICODE`.\n\nIf the value is `false` and the `encoding` property is `TEXT` then non-GSM 03.38 characters will be replaced by the `?` character.\n\nWhen using this setting on the API, you should take case to ensure that your message is _clean_.  \n\nInvisible unicode and unexpected characters could unintentionally convert an message to `UNICODE`.  A common mistake is to use the backtick character (\\`) which is unicode and will turn your `TEXT` message into a `UNICODE` message.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "schedule-date",
            "in": "query",
            "description": "Allows you to send a message in the future.\n\nAn example value is `2019-02-18T13:00:00+02:00`.  It encodes to `2019-02-18T13%3A00%3A00%2B02%3A00`.\nCredits are deducted from your account immediately. Once submitted, scheduled messages cannot be changed or cancelled.\nThe date can be a maximum of two years in the future. If the value is in the past, the message will be sent immediately.\nThe date format requires you to supply an offset from UTC. You can decide to use the offset of your timezone, or maybe the zone of the recipient's location is more appropriate.\nIf the destination is a group, the group members are determined at the time that you submit the message; not the time the message is scheduled to be sent.\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "schedule-description",
            "in": "query",
            "description": "A note that is stored together with a scheduled submission, which could be used to more easily identify the scheduled submission at a later date.\n\nThe value of this field is ignored if the `schedule-date` is not provided.\nA value that is longer than 256 characters is truncated.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains details of the message (or messages) that you want to send.\n\nOne `SubmissionEntry` can produce many messages, and your request may contain multiple such entries.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SubmissionEntry"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "An array of the messages that were created from the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The content or structure of your submission, or a parameter, was found to be invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.  Inspect the body of the response for further details - for example, you may have insufficient credits remaining",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "https://developer.bulksms.com/json/v1/errors#insufficient-credits",
                  "title": "Insufficient Credits",
                  "status": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "x-code-samples": [
          {
            "lang": "PHP",
            "source": "<?\n\/\/ Your PHP installation needs cUrl support, which not all PHP installations\n\/\/ include by default.\n\/\/ To run under docker:\n\/\/ docker run -v $PWD:\/code php:7.3.2-alpine php \/code\/code_sample.php\n\n$username = 'your_username';\n$password = 'your_password';\n$messages = array(\n  array('to'=>'+1233454567', 'body'=>'Hello World!'),\n  array('to'=>'+1233454568', 'body'=>'Hello World!')\n);  \n\n$result = send_message( json_encode($messages), 'https:\/\/api.bulksms.com\/v1\/messages?auto-unicode=true&longMessageMaxParts=30', $username, $password );\n\nif ($result['http_status'] != 201) {\n  print \"Error sending: \" . ($result['error'] ? $result['error'] : \"HTTP status \".$result['http_status'].\"; Response was \" .$result['server_response']);\n} else {\n  print \"Response \" . $result['server_response'];\n  \/\/ Use json_decode($result['server_response']) to work with the response further\n}\n\nfunction send_message ( $post_body, $url, $username, $password) {\n  $ch = curl_init( );\n  $headers = array(\n  'Content-Type:application\/json',\n  'Authorization:Basic '. base64_encode(\"$username:$password\")\n  );\n  curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\n  curl_setopt ( $ch, CURLOPT_URL, $url );\n  curl_setopt ( $ch, CURLOPT_POST, 1 );\n  curl_setopt ( $ch, CURLOPT_RETURNTRANSFER, 1 );\n  curl_setopt ( $ch, CURLOPT_POSTFIELDS, $post_body );\n  \/\/ Allow cUrl functions 20 seconds to execute\n  curl_setopt ( $ch, CURLOPT_TIMEOUT, 20 );\n  \/\/ Wait 10 seconds while trying to connect\n  curl_setopt ( $ch, CURLOPT_CONNECTTIMEOUT, 10 );\n  $output = array();\n  $output['server_response'] = curl_exec( $ch );\n  $curl_info = curl_getinfo( $ch );\n  $output['http_status'] = $curl_info[ 'http_code' ];\n  $output['error'] = curl_error($ch);\n  curl_close( $ch );\n  return $output;\n} \n?>         \n"
          },
          {
            "lang": "C#",
            "source": "using System;\nusing System.IO;\nusing System.Net;\nusing System.Text;\n\nclass MainClass\n{\n    public static void Main(string[] args)\n    {\n        \/\/ This URL is used for sending messages\n        string myURI = \"https:\/\/api.bulksms.com\/v1\/messages\";\n\n        \/\/ change these values to match your own account\n        string myUsername = \"username\";\n        string myPassword = \"password\";\n\n        \/\/ the details of the message we want to send\n        string myData = \"{to: \\\"1111111\\\", body:\\\"Hello Mr. Smith!\\\"}\";\n\n        \/\/ build the request based on the supplied settings\n        var request = WebRequest.Create(myURI);\n\n        \/\/ supply the credentials\n        request.Credentials = new NetworkCredential(myUsername, myPassword);\n        request.PreAuthenticate = true;\n        \/\/ we want to use HTTP POST\n        request.Method = \"POST\";\n        \/\/ for this API, the type must always be JSON\n        request.ContentType = \"application\/json\";\n\n        \/\/ Here we use Unicode encoding, but ASCIIEncoding would also work\n        var encoding = new UnicodeEncoding();\n        var encodedData = encoding.GetBytes(myData);\n\n        \/\/ Write the data to the request stream\n        var stream = request.GetRequestStream();\n        stream.Write(encodedData, 0, encodedData.Length);\n        stream.Close();\n\n        \/\/ try ... catch to handle errors nicely\n        try\n        {\n            \/\/ make the call to the API\n            var response = request.GetResponse();\n\n            \/\/ read the response and print it to the console\n            var reader = new StreamReader(response.GetResponseStream());\n            Console.WriteLine(reader.ReadToEnd());\n        }\n        catch (WebException ex)\n        {\n            \/\/ show the general message\n            Console.WriteLine(\"An error occurred:\" + ex.Message);\n\n            \/\/ print the detail that comes with the error\n            var reader = new StreamReader(ex.Response.GetResponseStream());\n            Console.WriteLine(\"Error details:\" + reader.ReadToEnd());\n        }\n    }\n}\n"
          },
          {
            "lang": "Java",
            "source": "import java.net.*;\nimport java.util.Base64;\nimport java.io.*;\n\npublic class MainClass {\n\n  static public void main(String[] args) throws Exception {\n\n    \/\/ This URL is used for sending messages\n    String myURI = \"https:\/\/api.bulksms.com\/v1\/messages\";\n\n    \/\/ change these values to match your own account\n    String myUsername = \"username\";\n    String myPassword = \"password\";\n\n    \/\/ the details of the message we want to send\n    String myData = \"{to: \\\"1111111\\\", encoding: \\\"UNICODE\\\", body: \\\"Dobrá práce! Jak se máš?\\\"}\";\n\n    \/\/ if your message does not contain unicode, the \"encoding\" is not required:\n    \/\/ String myData = \"{to: \\\"1111111\\\", body: \\\"Hello Mr. Smith!\\\"}\";\n\n    \/\/ build the request based on the supplied settings\n    URL url = new URL(myURI);\n    HttpURLConnection request = (HttpURLConnection) url.openConnection();\n    request.setDoOutput(true);\n\n    \/\/ supply the credentials\n    String authStr = myUsername + \":\" + myPassword;\n    String authEncoded = Base64.getEncoder().encodeToString(authStr.getBytes());\n    request.setRequestProperty(\"Authorization\", \"Basic \" + authEncoded);\n\n    \/\/ we want to use HTTP POST\n    request.setRequestMethod(\"POST\");\n    request.setRequestProperty( \"Content-Type\", \"application\/json\");\n\n    \/\/ write the data to the request\n    OutputStreamWriter out = new OutputStreamWriter(request.getOutputStream());\n    out.write(myData);\n    out.close();\n\n    \/\/ try ... catch to handle errors nicely\n    try {\n      \/\/ make the call to the API\n      InputStream response = request.getInputStream();\n      BufferedReader in = new BufferedReader(new InputStreamReader(response));\n      String replyText;\n      while ((replyText = in.readLine()) != null) {\n        System.out.println(replyText);\n      }\n      in.close();\n    } catch (IOException ex) {\n      System.out.println(\"An error occurred:\" + ex.getMessage());\n      BufferedReader in = new BufferedReader(new InputStreamReader(request.getErrorStream()));\n      \/\/ print the detail that comes with the error\n      String replyText;\n      while ((replyText = in.readLine()) != null) {\n        System.out.println(replyText);\n      }\n      in.close();\n    }\n    request.disconnect();\n  }\n}\n"
          },
          {
            "lang": "Node.js",
            "source": "const https = require('https');\n\nlet username = 'your_username';\nlet password = 'your_password';\n\nlet postData = JSON.stringify({\n  'to' : ['+111111123', '+111111124'],\n  'body': 'Hello World!'\n});\n\nlet options = {\n  hostname: 'api.bulksms.com',\n  port: 443,\n  path: '\/v1\/messages',\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application\/json',\n    'Content-Length': postData.length,\n    'Authorization': 'Basic ' + Buffer.from(username + ':' + password).toString('base64')\n  }\n};\n\nlet req = https.request(options, (resp) => {\n  console.log('statusCode:', resp.statusCode);\n  let data = '';\n    resp.on('data', (chunk) => {\n    data += chunk;\n  });\n  resp.on('end', () => {\n    console.log(\"Response:\", data);\n  });\n});\n\nreq.on('error', (e) => {\n  console.error(e);\n});\n\nreq.write(postData);\nreq.end();\n"
          }
        ]
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Gets profile",
        "description": "Returns information about your user profile",
        "operationId": "getProfile",
        "responses": {
          "200": {
            "description": "A Profile object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Profile": {
        "type": "object",
        "required": [
          "created",
          "credits",
          "id",
          "quota",
          "username"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "profile ID",
            "nullable": true
          },
          "username": {
            "type": "string",
            "description": "username of profile",
            "nullable": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Created data/time",
            "nullable": true
          },
          "credits": {
            "type": "object",
            "properties": {
              "balance": {
                "type": "number",
                "format": "float",
                "description": "Credit balance",
                "nullable": true
              },
              "limit": {
                "type": "integer",
                "format": "integer",
                "description": "Credit limit",
                "nullable": true
              },
              "isTransferAllowed": {
                "type": "boolean",
                "description": "Indicates whether the transferring is allowed or not",
                "nullable": true
              }
            },
            "description": "Credit Amount",
            "nullable": true
          },
          "quota": {
            "type": "object",
            "required": [
              "remaining",
              "size"
            ],
            "properties": {
              "size": {
                "type": "integer",
                "format": "integer",
                "description": "The setting that limits the number of messages you can send in a day.",
                "nullable": true
              },
              "remaining": {
                "type": "integer",
                "format": "integer",
                "description": "The number of messages you can still send today.",
                "nullable": true
              }
            },
            "description": "quota details",
            "nullable": true
          },
          "originAddresses": {
            "type": "object",
            "properties": {
              "isFullControlAllowed": {
                "type": "boolean",
                "description": "Indicates whether the full control is allowed or not",
                "nullable": true
              },
              "allowed": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                },
                "description": "An array of allowed details",
                "nullable": true
              }
            },
            "description": "Original Address",
            "nullable": true
          },
          "company": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "name of the company",
                "nullable": true
              },
              "taxReference": {
                "type": "string",
                "description": "tax reference",
                "nullable": true
              }
            },
            "description": "company details",
            "nullable": true
          },
          "commerce": {
            "type": "object",
            "properties": {
              "bankPaymentReference": {
                "type": "string",
                "description": "Bank payment detail reference",
                "nullable": true
              },
              "address": {
                "type": "object",
                "properties": {
                  "street": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": "Street",
                    "nullable": true
                  },
                  "city": {
                    "type": "string",
                    "description": "City",
                    "nullable": true
                  },
                  "region": {
                    "type": "string",
                    "description": "Region",
                    "nullable": true
                  },
                  "country": {
                    "type": "string",
                    "description": "Country",
                    "nullable": true
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "Postal Code",
                    "nullable": true
                  }
                },
                "description": "Commerce address",
                "nullable": true
              }
            },
            "description": "commerce profile details",
            "nullable": true
          }
        },
        "description": "Represents a profile",
        "nullable": true
      },
      "SubmissionEntry": {
        "type": "object",
        "required": [
          "body",
          "to"
        ],
        "properties": {
          "from": {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "INTERNATIONAL",
                  "ALPHANUMERIC",
                  "SHORTCODE",
                  "REPLIABLE"
                ],
                "description": "The type of the sender id.\n\nIf you want BulkSMS to collect replies to this message on your behalf, specify the type as REPLIABLE.  If the recipient is in a country where BulkSMS does not have a local reply number, the reply may incur costs that are more expensive than sending a local SMS in that country.\nIf you operate a service from a shortcode in a locale that allows messaging from such a shortcode, you can specify SHORTCODE for the type.\n",
                "nullable": true
              },
              "address": {
                "type": "string",
                "description": "The address of the sender id.\n\nThe validation for this field depends on the value of the `type`.\nINTERNATIONAL can start with `+`. It has a maximum length of 15 digits, and has to be longer than 6 digits.\nALPHANUMERIC has a maximum length of 11 characters.\nSHORTCODE has a maximum length of 6 digits.\nREPLIABLE should not specify a value here.\n",
                "nullable": true,
                "example": "1111111"
              }
            },
            "description": "Identifies the sender.\n\nInstead of a structured object, you can supply a string value here. \nIf you do this, the `type` of the sender is derived to be either INTERNATIONAL or ALPHANUMERIC.  If the value does not begin with a `+` and it contains at least one character that is not a digit, the type is detected as ALPHANUMERIC. Otherwise, the type is detected as INTERNATIONAL.\n",
            "nullable": true
          },
          "to": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "INTERNATIONAL",
                    "GROUP"
                  ],
                  "description": "Type of the recipient. The default value is INTERNATIONAL.",
                  "nullable": true
                },
                "address": {
                  "type": "string",
                  "description": "The phone number of the recipient.  It must be supplied if the `type` is INTERNATIONAL",
                  "nullable": true
                },
                "name": {
                  "type": "string",
                  "description": "The name of a group in your phonebook. A value can be given if the `type` is GROUP.",
                  "nullable": true
                },
                "id": {
                  "type": "string",
                  "description": "The id of a group in your phonebook.  A value can be given if the `type` is GROUP.",
                  "nullable": true
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": "Custom fields that can be used in the message body. A value can be given if the `type` is INTERNATIONAL\nRead the [body templates section](#tag\/Message) for more information.\n",
                  "nullable": true
                }
              },
              "nullable": true,
              "example": {
                "type": "INTERNATIONAL",
                "address": "1111111",
                "fields": [
                  "Jack",
                  "$200.00"
                ]
              }
            },
            "description": "Identifies the recipients\nInstead of an array of structured objects, you can also provide a single object, a simple string or an array of strings.\nIf you supply a string, the `type` is taken as INTERNATIONAL.\n",
            "nullable": true
          },
          "routingGroup": {
            "type": "string",
            "enum": [
              "ECONOMY",
              "STANDARD",
              "PREMIUM"
            ],
            "description": "Allows you to choose routing. The default is STANDARD.\n",
            "nullable": true
          },
          "encoding": {
            "type": "string",
            "enum": [
              "TEXT",
              "UNICODE",
              "BINARY"
            ],
            "description": "Describes the content of the message body.\n\nTypically this is TEXT, which is the default if no value is provided.\n\nIf you need to send characters that are not covered by the [GSM 03.38](https:\/\/en.wikipedia.org\/wiki\/GSM_03.38) character set you will need to specify UNICODE.\n\nIf you want to send a sequence of bytes, you must use BINARY.\n\nYou can also or use the `auto-unicode` parameter of the Send Messages Operation.   \n\nIf you supply the value of `TEXT` while `auto-unicode` is `true` then your message may be converted to `UNICODE`.\n\nIf you supply a value other than `TEXT` for this property while `auto-unicode` is `true` then no automatic conversion will take place.\n",
            "nullable": true
          },
          "longMessageMaxParts": {
            "type": "integer",
            "format": "integer",
            "description": "The maximum number of message parts that can be used for a [concatenated message](https:\/\/en.wikipedia.org\/wiki\/Concatenated_SMS).\nThe default is `3`.\n",
            "nullable": true,
            "example": 99
          },
          "body": {
            "type": "string",
            "description": "The message content as described in the `encoding`. If the `encoding` is BINARY, the body must contain only hexadecimal digits where one byte is represented as two digits. For example, if you want to send two bytes '0x05' and '0x1F', the message body must contain the text '051F'.\nThe message content can also contain templates, read the [body templates section](#tag\/Message) for more information.\n",
            "nullable": true,
            "example": "Hi there!"
          },
          "userSuppliedId": {
            "type": "string",
            "description": "Correlate the messages created from this submission to your data.\n\nThe value can contain no more than 20 characters.\n",
            "nullable": true,
            "example": "submission-12765"
          },
          "protocolId": {
            "type": "string",
            "enum": [
              "IMPLICIT",
              "SHORT_MESSAGE_TYPE_0",
              "REPLACE_MESSAGE_1",
              "REPLACE_MESSAGE_2",
              "REPLACE_MESSAGE_3",
              "REPLACE_MESSAGE_4",
              "REPLACE_MESSAGE_5",
              "REPLACE_MESSAGE_6",
              "REPLACE_MESSAGE_7",
              "RETURN_CALL",
              "ME_DOWNLOAD",
              "ME_DEPERSONALIZE",
              "SIM_DOWNLOAD"
            ],
            "description": "The TP-PID value from GSM 03.40[.750] §9.2.3.9.\n\nYou can provide either an integer value, or a mnemonic string.\n\nIf unspecified, this property defaults to `0`, representing the IMPLICIT value.\nNumeric values are listed below\n| Name | Value|\n|----- |------|\n| IMPLICIT              | 00 |\n| SHORT_MESSAGE_TYPE_0  | 64 |\n| REPLACE_MESSAGE_1     | 65 |\n| REPLACE_MESSAGE_2     | 66 |\n| REPLACE_MESSAGE_3     | 67 |\n| REPLACE_MESSAGE_4     | 68 |\n| REPLACE_MESSAGE_5     | 69 |\n| REPLACE_MESSAGE_6     | 70 |\n| REPLACE_MESSAGE_7     | 71 |\n| RETURN_CALL           | 95 |\n| ME_DOWNLOAD           | 125 |\n| ME_DEPERSONALIZE      | 126 |\n| SIM_DOWNLOAD          | 127 |\n",
            "nullable": true
          },
          "messageClass": {
            "type": "string",
            "enum": [
              "FLASH_SMS",
              "ME_SPECIFIC",
              "SIM_SPECIFIC",
              "TE_SPECIFIC"
            ],
            "description": "The class of the message, as specified by §4 of the GSM 03.38 specification.\nYou can provide either an integer value, or a mnemonic string.\nThe default value is SIM_SPECIFIC.\nNumeric values are\n| Name | Value|\n|------|------|\n| FLASH_SMS | 0      |\n| ME_SPECIFIC | 1    |\n| SIM_SPECIFIC | 2   |\n| TE_SPECIFIC | 3   |\n",
            "nullable": true
          },
          "deliveryReports": {
            "type": "string",
            "enum": [
              "ALL",
              "ERRORS",
              "NONE"
            ],
            "description": "The type of delivery reports to request from the delivering network.\nThe default value  is `ALL`. Please note that not all networks support delivery reports.\nALL. All possible delivery reports\nERRORS. Only error delivery reports\nNONE. No delivery reports",
            "nullable": true
          }
        },
        "description": "An object that you use when posting messages.",
        "nullable": true
      },
      "WebhookEntry": {
        "type": "object",
        "required": [
          "name",
          "triggerScope",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "A text identifier for the webhook.\nMore than one webhook cannot have the same name.\n",
            "nullable": true,
            "example": "My MT Webhook"
          },
          "url": {
            "type": "string",
            "description": "The location of the webhook.\n\nIn addition to being a [valid URI](https:\/\/en.wikipedia.org\/wiki\/Uniform_Resource_Identifier#Syntax), the url must also start with `http` or `https`.\n",
            "nullable": true,
            "example": "https://www.example.com"
          },
          "contactEmailAddress": {
            "type": "string",
            "description": "The email address to which emails will be sent if there are problem with invoking the webhook.\nThe value must be a valid email address.\nIf this value is `null`, no email will be sent.\nIt is `null` by default.\n",
            "nullable": true,
            "example": "tech_team@example.com"
          },
          "triggerScope": {
            "type": "string",
            "enum": [
              "SENT",
              "RECEIVED"
            ],
            "description": "Specifies when the webhook will be triggered.  \n\nPlease note the values are case sensitive.\n\nIf the value is `SENT`, the webhook will be called when a status update becomes available for a message you sent (i.e. a mobile terminating (MT) message).\n\nIf the value is `RECEIVED`, the webhook will be called when a message is received (i.e. a mobile originating (MO) message).\n\nNote that this field forces you to create two separate webhook entries if you want to collect all messages.  However,  you can use the same `url` for both webhooks if you want.\n",
            "nullable": true,
            "example": "SENT"
          },
          "invokeOption": {
            "type": "string",
            "enum": [
              "ONE",
              "MANY"
            ],
            "description": "Specifies how to invoke your webhook.\n\nIf the value is `ONE` the array POSTed to your webhook will contain no more than a single message.  Use this option if your webhook logic is unable to handle more than one messages at a time.\n\nIf the value is `MANY` the array POSTed to your webhook can contain up to 10 messages.  This is the recommended option.  The number of calls made to your webhook would be less and this will speed up your total processing time.\nIf your webhook fails for an invoke that has more than one message, each message in the array will automatically be retried one at a time. \n\nThis value defaults to `ONE` - but it is recommended that you set this property to `MANY`.\n",
            "nullable": true,
            "example": "MANY"
          },
          "active": {
            "type": "boolean",
            "description": "Indicates whether you want the webhook activated.\nIf the value is `true`, the webhook at the given `url` will be invoked with an empty array (`[]`) as part of the validation process.\nIf the webhook responds with a `2xx` status code, the submission is accepted; if not the webhook is not created (or updated).\nIf the value is `false` the webhook will be inactive, and it will not be invoked when messages are `SENT` or `RECEIVED`.\nThe default value is `true`.\n",
            "nullable": true,
            "example": true
          },
          "onWebApp": {
            "type": "boolean",
            "description": "Indicates whether you want to show this webhook on the Web App.\nWebhooks shown there can be updated by the user that use the public Web site.\nThe default value is `true`.\n",
            "nullable": true,
            "example": true
          }
        },
        "nullable": true
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "Webhook ID",
            "nullable": true,
            "example": 234
          },
          "name": {
            "type": "string",
            "description": "Webhook name",
            "nullable": true,
            "example": "My MT Webhook"
          },
          "url": {
            "type": "string",
            "description": "Webhook URL",
            "nullable": true,
            "example": "https://www.example.com"
          },
          "contactEmailAddress": {
            "type": "string",
            "description": "Contact email address",
            "nullable": true,
            "example": "tech_team@example.com"
          },
          "triggerScope": {
            "type": "string",
            "description": "Trigger scope details",
            "nullable": true,
            "example": "SENT"
          },
          "active": {
            "type": "boolean",
            "description": "Indicates whether the webhook is active or not",
            "nullable": true,
            "example": true
          },
          "onWebApp": {
            "type": "boolean",
            "description": "Indicates whether it is on web app or not",
            "nullable": true,
            "example": true
          }
        },
        "description": "Represents a webhook"
      },
      "Message": {
        "type": "object",
        "required": [
          "body",
          "id",
          "status",
          "to",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier that is assigned when the message is created.",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "SENT",
              "RECEIVED"
            ],
            "description": "The message direction",
            "nullable": true
          },
          "from": {
            "type": "string",
            "description": "The address part of the sender id",
            "nullable": true
          },
          "to": {
            "type": "string",
            "description": "The phone number of the recipient",
            "nullable": true
          },
          "body": {
            "type": "object",
            "description": "The content of the message",
            "nullable": true
          },
          "encoding": {
            "type": "string",
            "enum": [
              "TEXT",
              "UNICODE",
              "BINARY"
            ],
            "description": "The type of the content.  See the `encoding` field for more information.",
            "nullable": true
          },
          "protocolId": {
            "type": "integer",
            "format": "integer",
            "description": "See the `protocolId` field for more information.",
            "nullable": true
          },
          "messageClass": {
            "type": "integer",
            "format": "integer",
            "description": "See the `messageClass` field for more information.",
            "nullable": true
          },
          "numberOfParts": {
            "type": "integer",
            "format": "integer",
            "description": "The number of parts.  If this is a concatenated message, the number of parts will be more than 1.  Note that this field does not have a value in the submission response.",
            "nullable": true
          },
          "creditCost": {
            "type": "number",
            "format": "float",
            "description": "The cost of the message (in credits).   Note that this field does not have a value in the submission response.",
            "nullable": true
          },
          "submission": {
            "type": "object",
            "required": [
              "date",
              "id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "A unique identity shared by all messages that were created from the same submission. This field should be ignored if the `type` is not SENT.",
                "nullable": true
              },
              "date": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time the submission was processed. If the `type` is RECEIVED, this field reflects the date and time the received message was processed.",
                "nullable": true
              }
            },
            "description": "Identifies the submission.\n",
            "nullable": true
          },
          "status": {
            "type": "object",
            "required": [
              "id",
              "type"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "A concatenated value A.B where A is the `status.type` and B is the `status.subtype`.  \nIt there is no value for `subtype` then B takes string value `\"null\"` (e.g. `\"SENT.null\"`).   \n",
                "nullable": true
              },
              "type": {
                "type": "string",
                "enum": [
                  "ACCEPTED",
                  "SCHEDULED",
                  "SENT",
                  "DELIVERED",
                  "UNKNOWN",
                  "FAILED"
                ],
                "description": "ACCEPTED  Message accepted for delivery. Only returned for initial message submissions.\nSCHEDULED  Message accepted for delivery at a later date. Only returned for initial message  submissions.\nSENT  Message has been relayed away from our systems.\nDELIVERED  Successfully delivered to phone.\nUNKNOWN  Message is in an unknown state.\nFAILED  Delivery failed.\n",
                "nullable": true
              },
              "subtype": {
                "type": "string",
                "enum": [
                  "EXPIRED",
                  "HANDSET_ERROR",
                  "BLOCKED",
                  "NOT_SENT"
                ],
                "description": "Has a value only if the `type` is FAILED.\nEXPIRED  Delivery failed because message expired before delivery was possible.\nHANDSET_ERROR  Delivery failed because of a problem related to the phone (e.g. message storage area full).\nBLOCKED  Your account has been blocked from sending to this phone (e.g. recipient replied STOP to block communication).\nNOT_SENT  Message delivery was not attempted (e.g. because we were not able to find a route for the supplied phone number).\n",
                "nullable": true
              }
            },
            "description": "The status of the message",
            "nullable": true
          },
          "relatedSentMessageId": {
            "type": "string",
            "description": "This field has a value only if the type is RECEIVED.\nWith SMS messages, it is not possible to link a reply directly with a specific sent message.  However, if you specified `REPLIABLE` in the `from` property, BulkSMS will link any reply to the most recent message sent to a given phone number.\nThe `relatedSentMessageId` property keeps the information about this link.\nYou can use this property to derive an implicit conversation from a set of messages.\n  - If a received reply message has a `relatedSentMessageId`, you can use it to retrieve the last message that was sent before the reply was received.\n  - If you have the `id` of the sent message and you want all the received messages that relate to it, you can use the List Related Messages Operation.\n"
          },
          "userSuppliedId": {
            "type": "string",
            "description": "This is the value you supplied in the `userSuppliedId` field.\nHas a value only if the `type` is SENT.\n",
            "nullable": true
          }
        },
        "nullable": true
      },
      "Error": {
        "type": "object",
        "required": [
          "status",
          "title",
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "A URL to one of the [error types](errors/)."
          },
          "title": {
            "type": "string",
            "description": "A short description of the type"
          },
          "status": {
            "type": "integer",
            "format": "integer",
            "description": "The HTTP status code"
          },
          "detail": {
            "type": "string",
            "description": "More information about why the error occurred."
          }
        },
        "description": "See the [errors page](errors/) for more detail on what kind of errors you can get.",
        "nullable": true
      },
      "PhoneNumber": {
        "type": "string",
        "description": "A phone number in E.164 format",
        "example": "44123456789"
      },
      "BlockedNumber": {
        "type": "object",
        "required": [
          "id",
          "phoneNumber"
        ],
        "properties": {
          "id": {
            "type": "number",
            "format": "integer",
            "description": "A unique identifier that is assigned when the BlockedNumber is created.",
            "example": 234
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          }
        }
      }
    },
    "responses": {
      "bad-request": {
        "description": "Bad Request. The content or structure of your submission, or a parameter, was found to be invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "bad-webhook-id": {
        "description": "A webhook with the given id does not exit",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "type": "https://developer.bulksms.com/json/v1/errors/#not-found",
              "title": "Not Found",
              "status": 404,
              "detail": "Webhook with id '1' does not exist"
            }
          }
        }
      },
      "bad-webhook-url": {
        "description": "The url given for the webhook is not callable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "type": "https://developer.bulksms.com/json/v1/errors/#bad-request",
              "title": "Bad Request",
              "status": 400,
              "detail": "Invoking the Webhook URL caused an error: 403 - Forbidden\n"
            }
          }
        }
      },
      "credits": {
        "description": "Forbidden.  Inspect the body of the response for further details - for example, you may have insufficient credits remaining",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "type": "https://developer.bulksms.com/json/v1/errors#insufficient-credits",
              "title": "Insufficient Credits",
              "status": 403
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "description": "The API uses HTTP Basic Auth for authentication.\n\nYou are requested to preemptively provide the `Authorization` header in your requests and not wait until the server has provided a `401 Unauthorized` response.\n\nDoing so will reduce the number of requests required to achieve your goal, which will improve overall performance.\n\nYou authenticate using either the username you supplied when you registered with [BulkSMS](https:\/\/www.bulksms.com) or with an _API Token_. API tokens can be created by logging into your account and visiting _Settings &gt; Developer Settings &gt; API Tokens_.\n\n__Important:__\n- Where possible, use an API Token instead of the username and password when writing software against the API.\n\nWhether you use a username or an API Token, the values must be [Base64 encoded](https:\/\/en.wikipedia.org\/wiki\/Base64) before using it in the header.\nFor example, if the username is `Aladdin` and the password is `OpenSesame`, the unencoded header value is `Aladdin:OpenSesame`.  After encoding, the full header becomes\n\n```\nAuthorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l\n```\nWhen using an API token, the value to be encoded will be `<token-id>:<token-secret>`.  These values _before Base64 encoding_ look something like this\n\n`\nBBDE1B476E03498AA768F66A286AABDC-01-B:9jSbVDK20!MXdfRGiIIFu#ffUE8*S\n`\n",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "info": {
    "x-ballerina-display": {
      "label": "BulkSMS",
      "iconPath": "icon.png"
    },
    "title": "BulkSMS JSON REST API",
    "description": "This is a generated connector for [BulkSMS API v1](https:\/\/www.bulksms.com\/developer\/) OpenAPI Specification.\nBulkSMS API provides capability to access you to submit and receive [BulkSMS](https:\/\/www.bulksms.com\/) messages. You can also get  access to past messages and see your account profile. Dates are formatted according to ISO-8601, such as `1970-01-01T10:00:00+01:00` for 1st January 1970, 10AM UTC+1. It currently supports operations on messages, numbers, user profile, webhooks, and batch messages.",
    "version": "1.0.0",
    "x-ballerina-init-description": "The connector initialization requires setting the API credentials.  Create an [BulkSMS account](https://www.bulksms.com/) and obtain tokens following [this guide](https://www.bulksms.com/developer/json/v1/#section/Authentication).",
    "x-logo": {
      "url": "/developer/images/bulksms.png"
    }
  },
  "tags": [
    {
      "name": "Message",
      "x-displayName": "Messages"
    },
    {
      "name": "Profile",
      "x-displayName": "Profile"
    }
  ]
}
