{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://v2.api2pdf.com/",
      "description": "Api2Pdf.com API"
    }
  ],
  "paths": {
    "/chrome/pdf/url": {
      "get": {
        "tags": [
          "Headless Chrome"
        ],
        "summary": "Convert URL to PDF",
        "description": "Convert a URL or Web Page to PDF using Headless Chrome on AWS Lambda. This GET request is for convenience and does not support advanced options. Use the POST request for more flexibility.\n### Authorize via Query String Parameter\n**apikey=YOUR-API-KEY**\n### Example\n``` https:\/\/v2018.api2pdf.com\/chrome\/url?url={UrlToConvert}&apikey={YourApiKey} ``` ",
        "operationId": "convertWebUrlToPdfGet",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Url of the page to convert to PDF. Must start with http:// or https://.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Specify output=json to receive a JSON output. Defaults to PDF file.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PDF file or a JSON object depending on the `output` query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        },
        "security": [
          {
            "QueryApiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Headless Chrome"
        ],
        "summary": "Convert URL to PDF",
        "description": "Convert a URL or Web Page to PDF using Headless Chrome on AWS Lambda..\n### Authorize via Header of Request\n**Authorization: YOUR-API-KEY**",
        "operationId": "convertWebUrlToPdfPost",
        "requestBody": {
          "description": "A JSON object as a payload is required within the body of the request. The following attributes of the JSON object are detailed below:\n- `url` *(string, required)* - Url to the web page to convert to PDF\n- `inlinePdf` *(boolean, optional)* - Open the PDF in a browser window. Default to false.\n- `fileName` *(string, optional)* - Specify a file name for the output PDF. Random name if not specified.\n- `options` *(object, optional)* - Include advanced Headless Chrome options like margins, headers, and footers. [See full list of advanced options here](https:\/\/www.api2pdf.com\/documentation\/advanced-options-headless-chrome\/).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChromeUrlToPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON object containing the url to the PDF and other meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        }
      }
    },
    "/chrome/pdf/html": {
      "post": {
        "tags": [
          "Headless Chrome"
        ],
        "summary": "Convert raw HTML to PDF",
        "description": "Convert HTML to a PDF using Headless Chrome on AWS Lambda.\n### Authorize via Header of Request\n**Authorization: YOUR-API-KEY**",
        "operationId": "convertHtmlToPdf",
        "requestBody": {
          "description": "A JSON object as a payload is required within the body of the request. The following attributes of the JSON object are detailed below:\n- `html` *(string, required)* - raw HTML to convert to PDF\n- `inlinePdf` *(boolean, optional)* - Open the PDF in a browser window. Default to false.\n- `fileName` *(string, optional)* - Specify a file name for the output PDF. Random name if not specified.\n- `options` *(object, optional)* - Include advanced Headless Chrome options like margins, headers, and footers. [See full list of advanced options here](https:\/\/www.api2pdf.com\/documentation\/advanced-options-headless-chrome\/).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChromeHtmlToPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON object containing the url to the PDF and other meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        }
      }
    },
    "/merge": {
      "post": {
        "tags": [
          "Merge / Combine Pdfs"
        ],
        "summary": "Merge multiple PDFs together",
        "description": "Merge two or more PDFs together on AWS Lambda.\n### Authorize via Header of Request\n**Authorization: YOUR-API-KEY**",
        "operationId": "mergePdfs",
        "requestBody": {
          "description": "A JSON object as a payload is required within the body of the request. The following attributes of the JSON object are detailed below:\n- `urls` *(array of urls, required)* - A JSON array of direct URLs to PDFs. Api2Pdf will consume the PDF files in the list and then merge them all together..\n- `inlinePdf` *(boolean, optional)* - Open the PDF in a browser window. Default to false.\n- `fileName` *(string, optional)* - Specify a file name for the output PDF. Random name if not specified. ",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON object containing the url to the PDF and other meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        }
      }
    },
    "/libreoffice/convert": {
      "post": {
        "tags": [
          "LibreOffice"
        ],
        "summary": "Convert office document or image to PDF",
        "description": "Convert an office document (Word, Excel, Powerpoint) or an image (jpg, gif, png) to a PDF using LibreOffice on AWS Lambda.\n### Authorize via Header of Request\n**Authorization: YOUR-API-KEY**",
        "operationId": "convertOfficeDocToPdf",
        "requestBody": {
          "description": "A JSON object as a payload is required within the body of the request. The following attributes of the JSON object are detailed below:\n- `url` *(string, required)* - A direct URL to the file. Api2Pdf will consume the file at that URL and then convert it.\n- `inlinePdf` *(boolean, optional)* - Open the PDF in a browser window. Default to false.\n- `fileName` *(string, optional)* - Specify a file name for the output PDF. Random name if not specified. ",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibreOfficeConvertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON object containing the url to the PDF and other meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        }
      }
    },
    "/zebra": {
      "get": {
        "tags": [
          "ZXING (Zebra Crossing) Bar Codes"
        ],
        "summary": "Generate bar codes and QR codes with ZXING.",
        "description": "See full list of options and documentation [here](https:\/\/www.api2pdf.com\/documentation\/advanced-options-zxing-zebra-crossing-barcodes\/)\n### Authorize via Query String Parameter\n**apikey=YOUR-API-KEY**\n### Example\n``` https:\/\/v2018.api2pdf.com\/zebra?format={format}&apikey={YourApiKey}&value={YourText} ``` ",
        "operationId": "zebra",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "description": "Most common is CODE_39 or QR_CODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "Specify the text value you want to convert",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showlabel",
            "in": "query",
            "description": "Show label of text below barcode",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Height of the barcode generated image",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Width of the barcode generated image",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An image of the generated barcode or QR code",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "QueryApiKey": []
          }
        ]
      }
    },
    "/wkhtml/pdf/html": {
      "post": {
        "tags": [
          "wkhtmltopdf"
        ],
        "summary": "Convert raw HTML to PDF",
        "description": "Convert HTML to a PDF using WkHtmlToPdf on AWS Lambda.\n### Authorize via Header of Request\n**Authorization: YOUR-API-KEY**",
        "operationId": "convertHtmlToPdfWithWkhtml",
        "requestBody": {
          "description": "A JSON object as a payload is required within the body of the request. The following attributes of the JSON object are detailed below:\n- `html` *(string, required)* - raw HTML to convert to PDF\n- `inlinePdf` *(boolean, optional)* - Open the PDF in a browser window. Default to false.\n- `fileName` *(string, optional)* - Specify a file name for the output PDF. Random name if not specified.\n- `options` *(object, optional)* - Include advanced WkHtmlToPdf options like margins, headers, and footers. [See full list of advanced options here](https:\/\/www.api2pdf.com\/documentation\/advanced-options-wkhtmltopdf\/).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WkHtmlToPdfHtmlToPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON object containing the url to the PDF and other meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        }
      }
    },
    "/wkhtml/pdf/url": {
      "get": {
        "tags": [
          "wkhtmltopdf"
        ],
        "summary": "Convert URL to PDF",
        "description": "Convert a URL or Web Page to PDF using WkHtmlToPdf on AWS Lambda. This GET request is for convenience and does not support advanced options. Use the POST request for more flexibility.\n### Authorize via Query String Parameter\n**apikey=YOUR-API-KEY**\n### Example\n``` https:\/\/v2018.api2pdf.com\/wkhtmltopdf\/url?url={UrlToConvert}&apikey={YourApiKey} ``` ",
        "operationId": "convertWebUrlToPdfWithWkhtmlGet",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Url of the page to convert to PDF. Must start with http:// or https://.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Specify output=json to receive a JSON output. Defaults to PDF file.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PDF file or a JSON object depending on the `output` query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        },
        "security": [
          {
            "QueryApiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "wkhtmltopdf"
        ],
        "summary": "Convert URL to PDF",
        "description": "Convert a URL or Web Page to PDF using WkHtmlToPdf on AWS Lambda..\n### Authorize via Header of Request\n**Authorization: YOUR-API-KEY**",
        "operationId": "convertWebUrlToPdfWithWkhtmlPost",
        "requestBody": {
          "description": "A JSON object as a payload is required within the body of the request. The following attributes of the JSON object are detailed below:\n- `url` *(string, required)* - Url to the web page to convert to PDF\n- `inlinePdf` *(boolean, optional)* - Open the PDF in a browser window. Default to false.\n- `fileName` *(string, optional)* - Specify a file name for the output PDF. Random name if not specified.\n- `options` *(object, optional)* - Include advanced WkHtmlToPdf options like margins, headers, and footers. [See full list of advanced options here](https:\/\/www.api2pdf.com\/documentation\/advanced-options-wkhtmltopdf\/).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WkHtmlToPdfUrlToPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON object containing the url to the PDF and other meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Failed to generate PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFailure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponseFailure": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for the PDF generation failure",
            "example": "Source website could not be found"
          },
          "success": {
            "type": "boolean",
            "description": "Will be false if the operation failed",
            "example": false
          }
        }
      },
      "ApiResponseSuccess": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "number",
            "description": "Cost of the operation (mbIn + mbOut) * $.001",
            "example": 0.0007979
          },
          "mbIn": {
            "type": "number",
            "description": "The amount of megabytes of bandwidth used to process the pdf",
            "example": 0.06463
          },
          "mbOut": {
            "type": "number",
            "description": "The amount of megabytes of bandwidth generated from the resulting pdf",
            "example": 0.73327
          },
          "pdf": {
            "type": "string",
            "description": "A url to the PDF that will exist only for 24 hours",
            "example": "https://link-to-your-pdf"
          },
          "success": {
            "type": "boolean",
            "description": "Will be true if the operation suceeded",
            "example": true
          }
        }
      },
      "ChromeAdvancedOptions": {
        "type": "object",
        "properties": {
          "landscape": {
            "type": "string",
            "example": "true"
          },
          "printBackground": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "ChromeHtmlToPdfRequest": {
        "type": "object",
        "required": [
          "html"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "example": "test.pdf"
          },
          "html": {
            "type": "string",
            "format": "html",
            "example": "<p>Hello World</p>"
          },
          "inlinePdf": {
            "type": "boolean",
            "example": true
          },
          "options": {
            "$ref": "#/components/schemas/ChromeAdvancedOptions"
          }
        }
      },
      "ChromeUrlToPdfRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "example": "test.pdf"
          },
          "inlinePdf": {
            "type": "boolean",
            "example": true
          },
          "options": {
            "$ref": "#/components/schemas/ChromeAdvancedOptions"
          },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://www.github.com"
          }
        }
      },
      "LibreOfficeConvertRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "example": "test.pdf"
          },
          "inlinePdf": {
            "type": "boolean",
            "example": true
          },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://www.api2pdf.com/wp-content/themes/api2pdf/assets/samples/sample-word-doc.docx"
          }
        }
      },
      "MergeRequest": {
        "type": "object",
        "required": [
          "urls"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "example": "test.pdf"
          },
          "inlinePdf": {
            "type": "boolean",
            "example": true
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "format": "list of urls to pdfs",
            "example": [
              "link-to-pdf1",
              "link-to-pdf2",
              "link-to-pdf3"
            ]
          }
        }
      },
      "WkHtmlToPdfAdvancedOptions": {
        "type": "object",
        "properties": {
          "orientation": {
            "type": "string",
            "example": "landscape"
          },
          "pageSize": {
            "type": "string",
            "example": "A4"
          }
        }
      },
      "WkHtmlToPdfHtmlToPdfRequest": {
        "type": "object",
        "required": [
          "html"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "example": "test.pdf"
          },
          "html": {
            "type": "string",
            "format": "html",
            "example": "<p>Hello World</p>"
          },
          "inlinePdf": {
            "type": "boolean",
            "example": true
          },
          "options": {
            "$ref": "#/components/schemas/WkHtmlToPdfAdvancedOptions"
          }
        }
      },
      "WkHtmlToPdfUrlToPdfRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "example": "test.pdf"
          },
          "inlinePdf": {
            "type": "boolean",
            "example": true
          },
          "options": {
            "$ref": "#/components/schemas/WkHtmlToPdfAdvancedOptions"
          },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://www.github.com"
          }
        }
      }
    },
    "securitySchemes": {
      "HeaderApiKey": {
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "description": "Represents API Key `Authorization`"
      },
      "QueryApiKey": {
        "in": "query",
        "name": "apikey",
        "type": "apiKey",
        "description": "Represents API Key `apikey`"
      }
    }
  },
  "security": [
    {
      "HeaderApiKey": []
    }
  ],
  "externalDocs": {
    "description": "Find out more about Api2Pdf",
    "url": "https://www.api2pdf.com"
  },
  "info": {
    "contact": {
      "email": "support@api2pdf.com",
      "name": "Support",
      "x-twitter": "api2pdf_status"
    },
    "description": "This is a generated connector from [Api2Pdf](https:\/\/www.api2pdf.com\/) OpenAPI Specification.\nApi2Pdf is a powerful PDF generation API with no rate limits or file size constraints. \nApi2Pdf runs on AWS Lambda, a serverless architecture powered by Amazon to scale to millions of requests while being up to 90% cheaper than alternatives. \n**Supports wkhtmltopdf, Headless Chrome, LibreOffice, and PDF Merge.** You can also generate barcodes with ZXING (Zebra Crossing).\n",
    "x-ballerina-init-description": "The connector initialization requires setting the API credentials. \nPlease create an [Api2Pdf account](https:\/\/portal.api2pdf.com\/register) and obtain an API key.\n",
    "x-ballerina-display": {
      "label": "Api2Pdf",
      "iconPath": "icon.png"
    },
    "license": {
      "name": "Creative Commons",
      "url": "https://creativecommons.org/licenses/by/4.0/legalcode"
    },
    "title": "Api2Pdf - PDF Generation, Powered by AWS Lambda",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://twitter.com/api2pdf_status/profile_image?size=original"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.18"
        },
        "format": "openapi",
        "url": "https://app.swaggerhub.com/apiproxy/schema/file/api2pdf/api2pdf/1.0.0/swagger.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "api2pdf.com"
  }
}
