{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://unify.apideck.com"
    }
  ],
  "paths": {
    "/accounting/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Contacts",
        "description": "List Contacts",
        "operationId": "contactsAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetContactsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.contactsAll({})\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-graphql-field-name": "contacts",
        "x-apideck-api": "accounting"
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact",
        "description": "Create Contact",
        "operationId": "contactsAdd",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          }
        ],
        "requestBody": {
          "description": "A record of type `Contact` which contains details to create contact.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateContactResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  contact: {\n    name: 'Elon Musk',\n    owner_id: '54321',\n    type: 'personal',\n    company_id: '23456',\n    company_name: '23456',\n    lead_id: '34567',\n    first_name: 'Elon',\n    middle_name: 'D.',\n    last_name: 'Musk',\n    prefix: 'Mr.',\n    suffix: 'PhD',\n    title: 'CEO',\n    department: 'Engineering',\n    language: 'EN',\n    gender: 'female',\n    birthday: '2000-08-12',\n    image: 'https:\/\/unavatar.io\/elon-musk',\n    lead_source: 'Cold Call',\n    fax: '+12129876543',\n    description: 'Internal champion',\n    current_balance: 10.5,\n    status: 'open',\n    active: true,\n    websites: [\n      {\n        id: '12345',\n        url: 'http:\/\/example.com',\n        type: 'primary'\n      }\n    ],\n    addresses: [\n      {\n        id: '123',\n        type: 'primary',\n        string: '25 Spring Street, Blackburn, VIC 3130',\n        name: 'HQ US',\n        line1: 'Main street',\n        line2: 'apt #',\n        city: 'San Francisco',\n        state: 'CA',\n        postal_code: '94104',\n        country: 'US',\n        latitude: '40.759211',\n        longitude: '-73.984638'\n      }\n    ],\n    social_links: [\n      {\n        id: '12345',\n        url: 'https:\/\/www.twitter.com\/apideck-io',\n        type: 'twitter'\n      }\n    ],\n    phone_numbers: [\n      {\n        id: '12345',\n        number: '111-111-1111',\n        type: 'primary'\n      }\n    ],\n    emails: [\n      {\n        id: '123',\n        email: 'elon@musk.com',\n        type: 'primary'\n      }\n    ],\n    custom_fields: [\n      {\n        id: 'custom_technologies',\n        value: 'Uses Salesforce and Marketo'\n      }\n    ],\n    tags: ['New']\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.contactsAdd(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/ledger-accounts": {
      "get": {
        "tags": [
          "Ledger Accounts"
        ],
        "summary": "List Ledger Accounts",
        "description": "List Ledger Accounts",
        "operationId": "ledgerAccountsAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetLedgerAccountsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.ledgerAccountsAll({})\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-graphql-field-name": "ledgerAccounts",
        "x-apideck-api": "accounting"
      },
      "post": {
        "tags": [
          "Ledger Accounts"
        ],
        "summary": "Create Ledger Account",
        "description": "Create Ledger Account",
        "operationId": "ledgerAccountsAdd",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          }
        ],
        "requestBody": {
          "description": "A record of type `LedgerAccount` which contains details to create ledger account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerAccount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateLedgerAccountResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  ledgerAccount: {\n    nominal_code: '091',\n    classification: 'asset',\n    type: 'bank',\n    sub_type: 'CHECKING_ACCOUNT',\n    name: 'Bank account',\n    fully_qualified_name: 'Asset.Bank.Checking_Account',\n    description: 'The main checking account',\n    opening_balance: 75000,\n    current_balance: 20000,\n    currency: 'USD',\n    tax_type: 'USD',\n    tax_code: 'N-T',\n    level: '2',\n    active: true,\n    bank_account: {\n      iban: 'CH2989144532982975332',\n      bic: 'AUDSCHGGXXX',\n      bsb_number: '062-001',\n      bank_code: 'BNH',\n      account_number: '123456789',\n      account_name: 'SPACEX LLC'\n    },\n    sub_account: true\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.ledgerAccountsAdd(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List Invoices",
        "description": "List Invoices",
        "operationId": "invoicesAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetInvoicesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.invoicesAll({})\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-graphql-field-name": "invoices",
        "x-apideck-api": "accounting"
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create Invoice",
        "description": "Create Invoice",
        "operationId": "invoicesAdd",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          }
        ],
        "requestBody": {
          "description": "A record of type `Invoice` which contains details to create invoice.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateInvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  invoice: {\n    type: 'Service',\n    number: 'OIT00546',\n    customer: {\n      company_name: 'The boring company'\n    },\n    date: '2020-09-30',\n    due_date: '2020-10-30',\n    po_number: '90000117',\n    status: 'paid',\n    currency: 'USD',\n    sub_total: 27500,\n    total_tax: 1000,\n    total: 28500,\n    balance: 26500,\n    deposit: 2000,\n    customer_memo: 'Thank you for your business and have a great day!',\n    line_items: [\n      {\n        line_number: 1,\n        description: 'Rock Fountain',\n        type: 'Transaction',\n        tax_amount: 27500,\n        total_amount: 27500,\n        quantity: 2,\n        unit_price: 27500,\n        discount_percentage: 15,\n        item_id: 12344,\n        tax_rate: {\n          name: '15% GST on Expenses',\n          code: 'ABN'\n        },\n        general_ledger_account: {\n          name: 'Bank account'\n        }\n      }\n    ],\n    billing_address: {\n      id: '123',\n      type: 'primary',\n      string: '25 Spring Street, Blackburn, VIC 3130',\n      name: 'HQ US',\n      line1: 'Main street',\n      line2: 'apt #',\n      city: 'San Francisco',\n      state: 'CA',\n      postal_code: '94104',\n      country: 'US',\n      latitude: '40.759211',\n      longitude: '-73.984638'\n    },\n    shipping_address: {\n      id: '123',\n      type: 'primary',\n      string: '25 Spring Street, Blackburn, VIC 3130',\n      name: 'HQ US',\n      line1: 'Main street',\n      line2: 'apt #',\n      city: 'San Francisco',\n      state: 'CA',\n      postal_code: '94104',\n      country: 'US',\n      latitude: '40.759211',\n      longitude: '-73.984638'\n    }\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.invoicesAdd(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/tax-rates/{id}": {
      "get": {
        "tags": [
          "Tax Rates"
        ],
        "summary": "Get Tax Rate",
        "description": "Get Tax Rate",
        "operationId": "taxRatesOne",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTaxRateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.taxRatesOne({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "delete": {
        "tags": [
          "Tax Rates"
        ],
        "summary": "Delete Tax Rate",
        "description": "Delete Tax Rate",
        "operationId": "taxRatesDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteTaxRateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.taxRatesDelete({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "patch": {
        "tags": [
          "Tax Rates"
        ],
        "summary": "Update Tax Rate",
        "description": "Update Tax Rate",
        "operationId": "taxRatesUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "requestBody": {
          "description": "A record of type `TaxRate` which contains details to update tax rate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateTaxRateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  id: 'id_example',\n  taxRate: {\n    name: '15% GST on Expenses',\n    code: 'ABN',\n    description: 'No ABN Withholding',\n    effective_tax_rate: 10,\n    total_tax_rate: 10,\n    components: [\n      {\n        name: 'City tax',\n        rate: 10,\n        compound: true\n      }\n    ],\n    special_tax_type: 'NONE',\n    original_tax_rate_id: '12345',\n    active: true\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.taxRatesUpdate(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact",
        "description": "Get Contact",
        "operationId": "contactsOne",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetContactResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.contactsOne({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Contact",
        "description": "Delete Contact",
        "operationId": "contactsDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteContactResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.contactsDelete({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Contact",
        "description": "Update Contact",
        "operationId": "contactsUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "requestBody": {
          "description": "A record of type `Contact` which contains details to update contact.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateContactResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  id: 'id_example',\n  contact: {\n    name: 'Elon Musk',\n    owner_id: '54321',\n    type: 'personal',\n    company_id: '23456',\n    company_name: '23456',\n    lead_id: '34567',\n    first_name: 'Elon',\n    middle_name: 'D.',\n    last_name: 'Musk',\n    prefix: 'Mr.',\n    suffix: 'PhD',\n    title: 'CEO',\n    department: 'Engineering',\n    language: 'EN',\n    gender: 'female',\n    birthday: '2000-08-12',\n    image: 'https:\/\/unavatar.io\/elon-musk',\n    lead_source: 'Cold Call',\n    fax: '+12129876543',\n    description: 'Internal champion',\n    current_balance: 10.5,\n    status: 'open',\n    active: true,\n    websites: [\n      {\n        id: '12345',\n        url: 'http:\/\/example.com',\n        type: 'primary'\n      }\n    ],\n    addresses: [\n      {\n        id: '123',\n        type: 'primary',\n        string: '25 Spring Street, Blackburn, VIC 3130',\n        name: 'HQ US',\n        line1: 'Main street',\n        line2: 'apt #',\n        city: 'San Francisco',\n        state: 'CA',\n        postal_code: '94104',\n        country: 'US',\n        latitude: '40.759211',\n        longitude: '-73.984638'\n      }\n    ],\n    social_links: [\n      {\n        id: '12345',\n        url: 'https:\/\/www.twitter.com\/apideck-io',\n        type: 'twitter'\n      }\n    ],\n    phone_numbers: [\n      {\n        id: '12345',\n        number: '111-111-1111',\n        type: 'primary'\n      }\n    ],\n    emails: [\n      {\n        id: '123',\n        email: 'elon@musk.com',\n        type: 'primary'\n      }\n    ],\n    custom_fields: [\n      {\n        id: 'custom_technologies',\n        value: 'Uses Salesforce and Marketo'\n      }\n    ],\n    tags: ['New']\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.contactsUpdate(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/ledger-accounts/{id}": {
      "get": {
        "tags": [
          "Ledger Accounts"
        ],
        "summary": "Get Ledger Account",
        "description": "Get Ledger Account",
        "operationId": "ledgerAccountsOne",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetLedgerAccountResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.ledgerAccountsOne({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "delete": {
        "tags": [
          "Ledger Accounts"
        ],
        "summary": "Delete Ledger Account",
        "description": "Delete Ledger Account",
        "operationId": "ledgerAccountsDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteLedgerAccountResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.ledgerAccountsDelete({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "patch": {
        "tags": [
          "Ledger Accounts"
        ],
        "summary": "Update Ledger Account",
        "description": "Update Ledger Account",
        "operationId": "ledgerAccountsUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "requestBody": {
          "description": "A record of type `LedgerAccount` which contains details to update ledger account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerAccount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateLedgerAccountResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  id: 'id_example',\n  ledgerAccount: {\n    nominal_code: '091',\n    classification: 'asset',\n    type: 'bank',\n    sub_type: 'CHECKING_ACCOUNT',\n    name: 'Bank account',\n    fully_qualified_name: 'Asset.Bank.Checking_Account',\n    description: 'The main checking account',\n    opening_balance: 75000,\n    current_balance: 20000,\n    currency: 'USD',\n    tax_type: 'USD',\n    tax_code: 'N-T',\n    level: '2',\n    active: true,\n    bank_account: {\n      iban: 'CH2989144532982975332',\n      bic: 'AUDSCHGGXXX',\n      bsb_number: '062-001',\n      bank_code: 'BNH',\n      account_number: '123456789',\n      account_name: 'SPACEX LLC'\n    },\n    sub_account: true\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.ledgerAccountsUpdate(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/tax-rates": {
      "get": {
        "tags": [
          "Tax Rates"
        ],
        "summary": "List Tax Rates",
        "description": "List Tax Rates",
        "operationId": "taxRatesAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTaxRatesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.taxRatesAll({})\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-graphql-field-name": "taxRates",
        "x-apideck-api": "accounting"
      },
      "post": {
        "tags": [
          "Tax Rates"
        ],
        "summary": "Create Tax Rate",
        "description": "Create Tax Rate",
        "operationId": "taxRatesAdd",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          }
        ],
        "requestBody": {
          "description": "A record of type `TaxRate` which contains details to create tax rate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateTaxRateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  taxRate: {\n    name: '15% GST on Expenses',\n    code: 'ABN',\n    description: 'No ABN Withholding',\n    effective_tax_rate: 10,\n    total_tax_rate: 10,\n    components: [\n      {\n        name: 'City tax',\n        rate: 10,\n        compound: true\n      }\n    ],\n    special_tax_type: 'NONE',\n    original_tax_rate_id: '12345',\n    active: true\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.taxRatesAdd(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List Companies",
        "description": "List Companies",
        "operationId": "companiesAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCompaniesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.companiesAll({})\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-graphql-field-name": "companies",
        "x-apideck-api": "accounting"
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create Company",
        "description": "Create Company",
        "operationId": "companiesAdd",
        "parameters": [
          {
            "$ref": "#/components/parameters/raw"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          }
        ],
        "requestBody": {
          "description": "A record of type `Company` which contains details to create company.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateCompanyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  company: {\n    name: 'SpaceX',\n    owner_id: '12345',\n    image: 'https:\/\/www.spacex.com\/static\/images\/share.jpg',\n    description:\n      'Space Exploration Technologies Corp. is an American aerospace manufacturer, space transportation services and communications company headquartered in Hawthorne, California.',\n    vat_number: 'BE0689615164',\n    currency: 'USD',\n    status: 'Open',\n    fax: '+12129876543',\n    annual_revenue: '+$35m',\n    number_of_employees: '500-1000',\n    industry: 'Apparel',\n    ownership: 'Public',\n    sales_tax_number: '12456EN',\n    payee_number: '78932EN',\n    abn_or_tfn: '46 115 614 695',\n    abn_branch: '123',\n    acn: 'XXX XXX XXX',\n    bank_accounts: [\n      {\n        iban: 'CH2989144532982975332',\n        bic: 'AUDSCHGGXXX',\n        bsb_number: '062-001',\n        bank_code: 'BNH',\n        account_number: '123456789',\n        account_name: 'SPACEX LLC'\n      }\n    ],\n    websites: [\n      {\n        id: '12345',\n        url: 'http:\/\/example.com',\n        type: 'primary'\n      }\n    ],\n    addresses: [\n      {\n        id: '123',\n        type: 'primary',\n        string: '25 Spring Street, Blackburn, VIC 3130',\n        name: 'HQ US',\n        line1: 'Main street',\n        line2: 'apt #',\n        city: 'San Francisco',\n        state: 'CA',\n        postal_code: '94104',\n        country: 'US',\n        latitude: '40.759211',\n        longitude: '-73.984638'\n      }\n    ],\n    social_links: [\n      {\n        id: '12345',\n        url: 'https:\/\/www.twitter.com\/apideck-io',\n        type: 'twitter'\n      }\n    ],\n    phone_numbers: [\n      {\n        id: '12345',\n        number: '111-111-1111',\n        type: 'primary'\n      }\n    ],\n    emails: [\n      {\n        id: '123',\n        email: 'elon@musk.com',\n        type: 'primary'\n      }\n    ],\n    custom_fields: [\n      {\n        id: 'custom_technologies',\n        value: 'Uses Salesforce and Marketo'\n      }\n    ],\n    tags: ['New'],\n    read_only: false\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.companiesAdd(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get Company",
        "description": "Get Company",
        "operationId": "companiesOne",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCompanyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.companiesOne({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "delete": {
        "tags": [
          "Companies"
        ],
        "summary": "Delete Company",
        "description": "Delete Company",
        "operationId": "companiesDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteCompanyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.companiesDelete({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "patch": {
        "tags": [
          "Companies"
        ],
        "summary": "Update Company",
        "description": "Update Company",
        "operationId": "companiesUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "requestBody": {
          "description": "A record of type `Company` which contains details to update company.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateCompanyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  id: 'id_example',\n  company: {\n    name: 'SpaceX',\n    owner_id: '12345',\n    image: 'https:\/\/www.spacex.com\/static\/images\/share.jpg',\n    description:\n      'Space Exploration Technologies Corp. is an American aerospace manufacturer, space transportation services and communications company headquartered in Hawthorne, California.',\n    vat_number: 'BE0689615164',\n    currency: 'USD',\n    status: 'Open',\n    fax: '+12129876543',\n    annual_revenue: '+$35m',\n    number_of_employees: '500-1000',\n    industry: 'Apparel',\n    ownership: 'Public',\n    sales_tax_number: '12456EN',\n    payee_number: '78932EN',\n    abn_or_tfn: '46 115 614 695',\n    abn_branch: '123',\n    acn: 'XXX XXX XXX',\n    bank_accounts: [\n      {\n        iban: 'CH2989144532982975332',\n        bic: 'AUDSCHGGXXX',\n        bsb_number: '062-001',\n        bank_code: 'BNH',\n        account_number: '123456789',\n        account_name: 'SPACEX LLC'\n      }\n    ],\n    websites: [\n      {\n        id: '12345',\n        url: 'http:\/\/example.com',\n        type: 'primary'\n      }\n    ],\n    addresses: [\n      {\n        id: '123',\n        type: 'primary',\n        string: '25 Spring Street, Blackburn, VIC 3130',\n        name: 'HQ US',\n        line1: 'Main street',\n        line2: 'apt #',\n        city: 'San Francisco',\n        state: 'CA',\n        postal_code: '94104',\n        country: 'US',\n        latitude: '40.759211',\n        longitude: '-73.984638'\n      }\n    ],\n    social_links: [\n      {\n        id: '12345',\n        url: 'https:\/\/www.twitter.com\/apideck-io',\n        type: 'twitter'\n      }\n    ],\n    phone_numbers: [\n      {\n        id: '12345',\n        number: '111-111-1111',\n        type: 'primary'\n      }\n    ],\n    emails: [\n      {\n        id: '123',\n        email: 'elon@musk.com',\n        type: 'primary'\n      }\n    ],\n    custom_fields: [\n      {\n        id: 'custom_technologies',\n        value: 'Uses Salesforce and Marketo'\n      }\n    ],\n    tags: ['New'],\n    read_only: false\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.companiesUpdate(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    },
    "/accounting/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoice",
        "description": "Get Invoice",
        "operationId": "invoicesOne",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetInvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.invoicesOne({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "delete": {
        "tags": [
          "Invoices"
        ],
        "summary": "Delete Invoice",
        "description": "Delete Invoice",
        "operationId": "invoicesDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteInvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.accounting.invoicesDelete({\n    id: 'id_example'\n  })\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      },
      "patch": {
        "tags": [
          "Invoices"
        ],
        "summary": "Update Invoice",
        "description": "Update Invoice",
        "operationId": "invoicesUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/serviceId"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
        "requestBody": {
          "description": "A record of type `Invoice` which contains details to update invoice.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateInvoiceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck\/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  id: 'id_example',\n  invoice: {\n    type: 'Service',\n    number: 'OIT00546',\n    customer: {\n      company_name: 'The boring company'\n    },\n    date: '2020-09-30',\n    due_date: '2020-10-30',\n    po_number: '90000117',\n    status: 'paid',\n    currency: 'USD',\n    sub_total: 27500,\n    total_tax: 1000,\n    total: 28500,\n    balance: 26500,\n    deposit: 2000,\n    customer_memo: 'Thank you for your business and have a great day!',\n    line_items: [\n      {\n        line_number: 1,\n        description: 'Rock Fountain',\n        type: 'Transaction',\n        tax_amount: 27500,\n        total_amount: 27500,\n        quantity: 2,\n        unit_price: 27500,\n        discount_percentage: 15,\n        item_id: 12344,\n        tax_rate: {\n          name: '15% GST on Expenses',\n          code: 'ABN'\n        },\n        general_ledger_account: {\n          name: 'Bank account'\n        }\n      }\n    ],\n    billing_address: {\n      id: '123',\n      type: 'primary',\n      string: '25 Spring Street, Blackburn, VIC 3130',\n      name: 'HQ US',\n      line1: 'Main street',\n      line2: 'apt #',\n      city: 'San Francisco',\n      state: 'CA',\n      postal_code: '94104',\n      country: 'US',\n      latitude: '40.759211',\n      longitude: '-73.984638'\n    },\n    shipping_address: {\n      id: '123',\n      type: 'primary',\n      string: '25 Spring Street, Blackburn, VIC 3130',\n      name: 'HQ US',\n      line1: 'Main street',\n      line2: 'apt #',\n      city: 'San Francisco',\n      state: 'CA',\n      postal_code: '94104',\n      country: 'US',\n      latitude: '40.759211',\n      longitude: '-73.984638'\n    }\n  }\n}\n\ntry {\n  const { data } = await apideck.accounting.invoicesUpdate(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ],
        "x-apideck-api": "accounting"
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "Name of city.",
            "nullable": true,
            "example": "San Francisco"
          },
          "country": {
            "type": "string",
            "description": "country code according to ISO 3166-1 alpha-2.",
            "nullable": true,
            "example": "US"
          },
          "id": {
            "type": "string",
            "nullable": true,
            "example": "123"
          },
          "latitude": {
            "type": "string",
            "nullable": true,
            "example": "40.759211"
          },
          "line1": {
            "type": "string",
            "description": "Line 1 of the address e.g. number, street, suite, apt #, etc.",
            "nullable": true,
            "example": "Main street"
          },
          "line2": {
            "type": "string",
            "description": "Line 2 of the address",
            "nullable": true,
            "example": "apt #"
          },
          "longitude": {
            "type": "string",
            "nullable": true,
            "example": "-73.984638"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "HQ US"
          },
          "postal_code": {
            "type": "string",
            "description": "Zip code or equivalent.",
            "nullable": true,
            "example": "94104"
          },
          "state": {
            "type": "string",
            "description": "Name of state",
            "nullable": true,
            "example": "CA"
          },
          "string": {
            "type": "string",
            "nullable": true,
            "title": "The address string. Some APIs don't provide structured address data.",
            "example": "25 Spring Street, Blackburn, VIC 3130"
          },
          "type": {
            "type": "string",
            "enum": [
              "primary",
              "secondary",
              "home",
              "office",
              "shipping",
              "billing",
              "other"
            ],
            "x-graphql-type-name": "AddressType",
            "example": "primary"
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "account_name": {
            "type": "string",
            "description": "The name which you used in opening your bank account.",
            "nullable": true,
            "title": "Bank Account Name",
            "example": "SPACEX LLC"
          },
          "account_number": {
            "type": "string",
            "description": "A bank account number is a number that is tied to your bank account. If you have several bank accounts, such as personal, joint, business (and so on), each account will have a different account number.",
            "nullable": true,
            "title": "Bank Account Number",
            "example": "123456789"
          },
          "bank_code": {
            "type": "string",
            "description": "A bank code is a code assigned by a central bank, a bank supervisory body or a Bankers Association in a country to all its licensed member banks or financial institutions.",
            "nullable": true,
            "title": "Bank Code",
            "example": "BNH"
          },
          "bic": {
            "type": "string",
            "nullable": true,
            "example": "AUDSCHGGXXX"
          },
          "bsb_number": {
            "type": "string",
            "description": "A BSB is a 6 digit numeric code used for identifying the branch of an Australian or New Zealand bank or financial institution.",
            "nullable": true,
            "title": "BSB Number",
            "example": "062-001"
          },
          "iban": {
            "type": "string",
            "nullable": true,
            "example": "CH2989144532982975332"
          }
        }
      },
      "Company": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "abn_branch": {
            "type": "string",
            "description": "An ABN Branch (also known as a GST Branch) is used if part of your business needs to account for GST separately from its parent entity.",
            "nullable": true,
            "title": "ABN Branch",
            "example": "123"
          },
          "abn_or_tfn": {
            "type": "string",
            "description": "An ABN is necessary for operating a business, while a TFN (Tax File Number) is required for any person working in Australia.",
            "nullable": true,
            "title": "ABN or TFN",
            "example": "46 115 614 695"
          },
          "acn": {
            "type": "string",
            "description": "The Australian Company Number (ACN) is a nine digit number with the last digit being a check digit calculated using a modified modulus 10 calculation. ASIC has adopted a convention of always printing and displaying the ACN in the format XXX XXX XXX; three blocks of three characters, each block separated by a blank.",
            "nullable": true,
            "title": "ACN",
            "example": "XXX XXX XXX"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "annual_revenue": {
            "type": "string",
            "description": "Annual revenue",
            "nullable": true,
            "example": "+$35m"
          },
          "bank_accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankAccount"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2020-09-30T07:43:32.000Z"
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "example": "12345"
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "example": "USD"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "deleted": {
            "type": "boolean",
            "readOnly": true,
            "example": false
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Space Exploration Technologies Corp. is an American aerospace manufacturer, space transportation services and communications company headquartered in Hawthorne, California."
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "fax": {
            "type": "string",
            "nullable": true,
            "example": "+12129876543"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "example": "12345"
          },
          "image": {
            "type": "string",
            "nullable": true,
            "example": "https://www.spacex.com/static/images/share.jpg"
          },
          "industry": {
            "type": "string",
            "description": "Industry",
            "nullable": true,
            "example": "Apparel"
          },
          "interaction_count": {
            "type": "integer",
            "nullable": true,
            "readOnly": true,
            "example": 1
          },
          "last_activity_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "example": "2020-09-30T07:43:32.000Z"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "SpaceX"
          },
          "number_of_employees": {
            "type": "string",
            "description": "Number of employees",
            "nullable": true,
            "example": "500-1000"
          },
          "owner_id": {
            "type": "string",
            "example": "12345"
          },
          "ownership": {
            "type": "string",
            "description": "Ownership",
            "nullable": true,
            "example": "Public"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent ID",
            "readOnly": true,
            "example": "22345"
          },
          "payee_number": {
            "type": "string",
            "nullable": true,
            "title": "Payee number",
            "example": "78932EN"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "read_only": {
            "type": "boolean",
            "nullable": true,
            "title": "Read-only",
            "example": false
          },
          "sales_tax_number": {
            "type": "string",
            "nullable": true,
            "title": "Sales tax number",
            "example": "12456EN"
          },
          "social_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocialLink"
            }
          },
          "status": {
            "type": "string",
            "minLength": 1,
            "nullable": true,
            "example": "Open"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2020-09-30T07:43:32.000Z"
          },
          "updated_by": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "example": "12345"
          },
          "vat_number": {
            "type": "string",
            "description": "VAT number",
            "nullable": true,
            "example": "BE0689615164"
          },
          "websites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            }
          }
        },
        "additionalProperties": false
      },
      "Contact": {
        "properties": {
          "active": {
            "type": "boolean",
            "nullable": true,
            "example": true
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "birthday": {
            "type": "string",
            "nullable": true,
            "example": "2000-08-12T00:00:00.000Z"
          },
          "company_id": {
            "type": "string",
            "nullable": true,
            "example": "23456"
          },
          "company_name": {
            "type": "string",
            "nullable": true,
            "example": "23456"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2017-08-12T20:43:21.291Z"
          },
          "current_balance": {
            "type": "number",
            "nullable": true,
            "title": "Current Balance",
            "example": 10.5
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "department": {
            "type": "string",
            "nullable": true,
            "example": "Engineering"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "title": "Description",
            "example": "Internal champion"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "fax": {
            "type": "string",
            "nullable": true,
            "example": "+12129876543"
          },
          "first_call_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "example": "2020-09-30T07:43:32.000Z"
          },
          "first_email_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "example": "2020-09-30T07:43:32.000Z"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "example": "Elon"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female",
              "unisex"
            ],
            "nullable": true,
            "example": "female"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "example": "12345"
          },
          "image": {
            "type": "string",
            "nullable": true,
            "example": "https://unavatar.io/elon-musk"
          },
          "language": {
            "type": "string",
            "description": "language code according to ISO 639-1. For the United States - EN",
            "nullable": true,
            "example": "EN"
          },
          "last_activity_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "example": "2020-09-30T07:43:32.000Z"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "example": "Musk"
          },
          "lead_id": {
            "type": "string",
            "nullable": true,
            "example": "34567"
          },
          "lead_source": {
            "type": "string",
            "minLength": 1,
            "nullable": true,
            "example": "Cold Call"
          },
          "middle_name": {
            "type": "string",
            "nullable": true,
            "example": "D."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Elon Musk"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "54321"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "prefix": {
            "type": "string",
            "nullable": true,
            "example": "Mr."
          },
          "social_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocialLink"
            }
          },
          "status": {
            "type": "string",
            "nullable": true,
            "example": "open"
          },
          "suffix": {
            "type": "string",
            "nullable": true,
            "example": "PhD"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "CEO"
          },
          "type": {
            "type": "string",
            "enum": [
              "customer",
              "supplier",
              "employee",
              "personal"
            ],
            "nullable": true,
            "example": "personal"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2017-08-12T20:43:21.291Z"
          },
          "websites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            }
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false,
        "x-pii": [
          "name",
          "first_name",
          "middle_name",
          "last_name",
          "email"
        ]
      },
      "CreateCompanyResponse": {
        "type": "object",
        "required": [
          "status_code",
          "status",
          "service",
          "resource",
          "operation",
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UnifiedId"
          },
          "operation": {
            "type": "string",
            "description": "Operation performed",
            "example": "one"
          },
          "resource": {
            "type": "string",
            "description": "Unified API resource name",
            "example": "Companies"
          },
          "service": {
            "type": "string",
            "description": "Apideck ID of service provider",
            "example": "zoho-crm"
          },
          "status": {
            "type": "string",
            "description": "HTTP Response Status",
            "example": "OK"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP Response Status Code",
            "example": 200
          }
        }
      },
      "CreateContactResponse": {
        "type": "object",
        "required": [
          "status_code",
          "status",
          "service",
          "resource",
          "operation",
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UnifiedId"
          },
          "operation": {
            "type": "string",
            "description": "Operation performed",
            "example": "one"
          },
          "resource": {
            "type": "string",
            "description": "Unified API resource name",
            "example": "Contacts"
          },
          "service": {
            "type": "string",
            "description": "Apideck ID of service provider",
            "example": "zoho-crm"
          },
          "status": {
            "type": "string",
            "description": "HTTP Response Status",
            "example": "OK"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP Response Status Code",
            "example": 200
          }
        }
      },
      "CreateInvoiceResponse": {
        "type": "object",
        "required": [
          "status_code",
          "status",
          "service",
          "resource",
          "operation",
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UnifiedId"
          },
          "operation": {
            "type": "string",
            "description": "Operation performed",
            "example": "one"
          },
          "resource": {
            "type": "string",
            "description": "Unified API resource name",
            "example": "Invoices"
          },
          "service": {
            "type": "string",
            "description": "Apideck ID of service provider",
            "example": "zoho-crm"
          },
          "status": {
            "type": "string",
            "description": "HTTP Response Status",
            "example": "OK"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP Response Status Code",
            "example": 200
          }
        }
      },
      "CreateLedgerAccountResponse": {
        "type": "object",
        "required": [
          "status_code",
          "status",
          "service",
          "resource",
          "operation",
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UnifiedId"
          },
          "operation": {
            "type": "string",
            "description": "Operation performed",
            "example": "one"
          },
          "resource": {
            "type": "string",
            "description": "Unified API resource name",
            "example": "LedgerAccounts"
          },
          "service": {
            "type": "string",
            "description": "Apideck ID of service provider",
            "example": "zoho-crm"
          },
          "status": {
            "type": "string",
            "description": "HTTP Response Status",
            "example": "OK"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP Response Status Code",
            "example": 200
          }
        }
      },
      "CreateTaxRateResponse": {
        "type": "object",
        "required": [
          "status_code",
          "status",
          "service",
          "resource",
          "operation",
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UnifiedId"
          },
          "operation": {
            "type": "string",
            "description": "Operation performed",
            "example": "one"
          },
          "resource": {
            "type": "string",
            "description": "Unified API resource name",
            "example": "TaxRates"
          },
          "service": {
            "type": "string",
            "description": "Apideck ID of service provider",
            "example": "zoho-crm"
          },
          "status": {
            "type": "string",
            "description": "HTTP Response Status",
            "example": "OK"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP Response Status Code",
            "example": 200
          }
        }
      },
      "CreatedAt": {
        "type": "string",
        "format": "date-time",
        "readOnly": true,
        "example": "2020-09-30T07:43:32.000Z"
      },
      "CreatedBy": {
        "type": "string",
        "nullable": true,
        "readOnly": true,
        "example": "12345"
      },
      "Currency": {
        "type": "string",
        "enum": [
          "UNKNOWN_CURRENCY",
          "AED",
          "AFN",
          "ALL",
          "AMD",
          "ANG",
          "AOA",
          "ARS",
          "AUD",
          "AWG",
          "AZN",
          "BAM",
          "BBD",
          "BDT",
          "BGN",
          "BHD",
          "BIF",
          "BMD",
          "BND",
          "BOB",
          "BOV",
          "BRL",
          "BSD",
          "BTN",
          "BWP",
          "BYR",
          "BZD",
          "CAD",
          "CDF",
          "CHE",
          "CHF",
          "CHW",
          "CLF",
          "CLP",
          "CNY",
          "COP",
          "COU",
          "CRC",
          "CUC",
          "CUP",
          "CVE",
          "CZK",
          "DJF",
          "DKK",
          "DOP",
          "DZD",
          "EGP",
          "ERN",
          "ETB",
          "EUR",
          "FJD",
          "FKP",
          "GBP",
          "GEL",
          "GHS",
          "GIP",
          "GMD",
          "GNF",
          "GTQ",
          "GYD",
          "HKD",
          "HNL",
          "HRK",
          "HTG",
          "HUF",
          "IDR",
          "ILS",
          "INR",
          "IQD",
          "IRR",
          "ISK",
          "JMD",
          "JOD",
          "JPY",
          "KES",
          "KGS",
          "KHR",
          "KMF",
          "KPW",
          "KRW",
          "KWD",
          "KYD",
          "KZT",
          "LAK",
          "LBP",
          "LKR",
          "LRD",
          "LSL",
          "LTL",
          "LVL",
          "LYD",
          "MAD",
          "MDL",
          "MGA",
          "MKD",
          "MMK",
          "MNT",
          "MOP",
          "MRO",
          "MUR",
          "MVR",
          "MWK",
          "MXN",
          "MXV",
          "MYR",
          "MZN",
          "NAD",
          "NGN",
          "NIO",
          "NOK",
          "NPR",
          "NZD",
          "OMR",
          "PAB",
          "PEN",
          "PGK",
          "PHP",
          "PKR",
          "PLN",
          "PYG",
          "QAR",
          "RON",
          "RSD",
          "RUB",
          "RWF",
          "SAR",
          "SBD",
          "SCR",
          "SDG",
          "SEK",
          "SGD",
          "SHP",
          "SLL",
          "SOS",
          "SRD",
          "SSP",
          "STD",
          "SVC",
          "SYP",
          "SZL",
          "THB",
          "TJS",
          "TMT",
          "TND",
          "TOP",
          "TRY",
          "TTD",
          "TWD",
          "TZS",
          "UAH",
          "UGX",
          "USD",
          "USN",
          "USS",
          "UYI",
          "UYU",
          "UZS",
          "VEF",
          "VND",
          "VUV",
          "WST",
          "XAF",
          "XAG",
          "XAU",
          "XBA",
          "XBB",
          "XBC",
          "XBD",
          "XCD",
          "XDR",
          "XOF",
          "XPD",
          "XPF",
          "XPT",
          "XTS",
          "XXX",
          "YER",
          "ZAR",
          "ZMK",
          "ZMW",
          "BTC"
        ],
        "description": "Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).",
        "nullable": true,
        "x-enum-elements": [
          {
            "description": "Unknown currency",
            "name": "UNKNOWN_CURRENCY"
          },
          {
            "description": "United Arab Emirates dirham",
            "name": "AED"
          },
          {
            "description": "Afghan afghani",
            "name": "AFN"
          },
          {
            "description": "Albanian lek",
            "name": "ALL"
          },
          {
            "description": "Armenian dram",
            "name": "AMD"
          },
          {
            "description": "Netherlands Antillean guilder",
            "name": "ANG"
          },
          {
            "description": "Angolan kwanza",
            "name": "AOA"
          },
          {
            "description": "Argentine peso",
            "name": "ARS"
          },
          {
            "description": "Australian dollar",
            "name": "AUD"
          },
          {
            "description": "Aruban florin",
            "name": "AWG"
          },
          {
            "description": "Azerbaijani manat",
            "name": "AZN"
          },
          {
            "description": "Bosnia and Herzegovina convertible mark",
            "name": "BAM"
          },
          {
            "description": "Barbados dollar",
            "name": "BBD"
          },
          {
            "description": "Bangladeshi taka",
            "name": "BDT"
          },
          {
            "description": "Bulgarian lev",
            "name": "BGN"
          },
          {
            "description": "Bahraini dinar",
            "name": "BHD"
          },
          {
            "description": "Burundian franc",
            "name": "BIF"
          },
          {
            "description": "Bermudian dollar",
            "name": "BMD"
          },
          {
            "description": "Brunei dollar",
            "name": "BND"
          },
          {
            "description": "Boliviano",
            "name": "BOB"
          },
          {
            "description": "Bolivian Mvdol",
            "name": "BOV"
          },
          {
            "description": "Brazilian real",
            "name": "BRL"
          },
          {
            "description": "Bahamian dollar",
            "name": "BSD"
          },
          {
            "description": "Bhutanese ngultrum",
            "name": "BTN"
          },
          {
            "description": "Botswana pula",
            "name": "BWP"
          },
          {
            "description": "Belarusian ruble",
            "name": "BYR"
          },
          {
            "description": "Belize dollar",
            "name": "BZD"
          },
          {
            "description": "Canadian dollar",
            "name": "CAD"
          },
          {
            "description": "Congolese franc",
            "name": "CDF"
          },
          {
            "description": "WIR Euro",
            "name": "CHE"
          },
          {
            "description": "Swiss franc",
            "name": "CHF"
          },
          {
            "description": "WIR Franc",
            "name": "CHW"
          },
          {
            "description": "Unidad de Fomento",
            "name": "CLF"
          },
          {
            "description": "Chilean peso",
            "name": "CLP"
          },
          {
            "description": "Chinese yuan",
            "name": "CNY"
          },
          {
            "description": "Colombian peso",
            "name": "COP"
          },
          {
            "description": "Unidad de Valor Real",
            "name": "COU"
          },
          {
            "description": "Costa Rican colon",
            "name": "CRC"
          },
          {
            "description": "Cuban convertible peso",
            "name": "CUC"
          },
          {
            "description": "Cuban peso",
            "name": "CUP"
          },
          {
            "description": "Cape Verdean escudo",
            "name": "CVE"
          },
          {
            "description": "Czech koruna",
            "name": "CZK"
          },
          {
            "description": "Djiboutian franc",
            "name": "DJF"
          },
          {
            "description": "Danish krone",
            "name": "DKK"
          },
          {
            "description": "Dominican peso",
            "name": "DOP"
          },
          {
            "description": "Algerian dinar",
            "name": "DZD"
          },
          {
            "description": "Egyptian pound",
            "name": "EGP"
          },
          {
            "description": "Eritrean nakfa",
            "name": "ERN"
          },
          {
            "description": "Ethiopian birr",
            "name": "ETB"
          },
          {
            "description": "Euro",
            "name": "EUR"
          },
          {
            "description": "Fiji dollar",
            "name": "FJD"
          },
          {
            "description": "Falkland Islands pound",
            "name": "FKP"
          },
          {
            "description": "Pound sterling",
            "name": "GBP"
          },
          {
            "description": "Georgian lari",
            "name": "GEL"
          },
          {
            "description": "Ghanaian cedi",
            "name": "GHS"
          },
          {
            "description": "Gibraltar pound",
            "name": "GIP"
          },
          {
            "description": "Gambian dalasi",
            "name": "GMD"
          },
          {
            "description": "Guinean franc",
            "name": "GNF"
          },
          {
            "description": "Guatemalan quetzal",
            "name": "GTQ"
          },
          {
            "description": "Guyanese dollar",
            "name": "GYD"
          },
          {
            "description": "Hong Kong dollar",
            "name": "HKD"
          },
          {
            "description": "Honduran lempira",
            "name": "HNL"
          },
          {
            "description": "Croatian kuna",
            "name": "HRK"
          },
          {
            "description": "Haitian gourde",
            "name": "HTG"
          },
          {
            "description": "Hungarian forint",
            "name": "HUF"
          },
          {
            "description": "Indonesian rupiah",
            "name": "IDR"
          },
          {
            "description": "Israeli new shekel",
            "name": "ILS"
          },
          {
            "description": "Indian rupee",
            "name": "INR"
          },
          {
            "description": "Iraqi dinar",
            "name": "IQD"
          },
          {
            "description": "Iranian rial",
            "name": "IRR"
          },
          {
            "description": "Icelandic króna",
            "name": "ISK"
          },
          {
            "description": "Jamaican dollar",
            "name": "JMD"
          },
          {
            "description": "Jordanian dinar",
            "name": "JOD"
          },
          {
            "description": "Japanese yen",
            "name": "JPY"
          },
          {
            "description": "Kenyan shilling",
            "name": "KES"
          },
          {
            "description": "Kyrgyzstani som",
            "name": "KGS"
          },
          {
            "description": "Cambodian riel",
            "name": "KHR"
          },
          {
            "description": "Comoro franc",
            "name": "KMF"
          },
          {
            "description": "North Korean won",
            "name": "KPW"
          },
          {
            "description": "South Korean won",
            "name": "KRW"
          },
          {
            "description": "Kuwaiti dinar",
            "name": "KWD"
          },
          {
            "description": "Cayman Islands dollar",
            "name": "KYD"
          },
          {
            "description": "Kazakhstani tenge",
            "name": "KZT"
          },
          {
            "description": "Lao kip",
            "name": "LAK"
          },
          {
            "description": "Lebanese pound",
            "name": "LBP"
          },
[...]
