<class name="org.wso2.apim.policies.mediation.ai.hallucination.guardrail.guardrailsai.HallucinationGuardrailGuardrailsAI">
    <property action="set" name="name" value="{{name}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="connectKnowledgeBase" type="BOOLEAN" value="{{connectKnowledgeBase}}"/>
    <property action="set" name="knowledgeBaseCollectionName" value="{{knowledgeBaseCollectionName}}"/>
    <property action="set" name="outputFields" value="{{outputFields}}"/>
    <property action="set" name="showAssessment" type="BOOLEAN" value="{{showAssessment}}"/>
    <property action="set" name="passthroughOnError" type="BOOLEAN" value="{{passthroughOnError}}"/>
</class>
