body {
  margin: 0;
  padding: 0;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 15em;
  padding: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.not-found {
  height: 40em;
  padding: 1.5em;
}

.ticket {
  height: 8em;
  padding: 0.3em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-icon {
  height: 3em;
  margin-right: 0.5em;
}

.delete-icon:hover {
  color: crimson;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
