<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_1.xsd" version="4.1">
  <display-name>telecom-backends</display-name>
<absolute-ordering>
    <name>spring_web</name>
</absolute-ordering>
</web-app>