<class name="org.wso2.apim.policies.mediation.ai.pii.masking.guardrailsai.PIIMaskingGuardrailsAI">
<property action="set" name="name" value="{{name}}"/>
    <property action="set" name="piiEntities" value="{{piiEntities}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="redact" type="BOOLEAN" value="{{redact}}"/>
</class>