<class name="org.wso2.apim.policies.mediation.ai.content.safety.guardrail.guardrailsai.ContentSafetyGuardrailGuardrailsAI">
    <property action="set" name="name" value="{{name}}"/>
    <property action="set" name="violentCrimes" type="BOOLEAN" value="{{violentCrimes}}"/>
    <property action="set" name="nonViolentCrimes" type="BOOLEAN" value="{{nonViolentCrimes}}"/>
    <property action="set" name="sexRelatedCrimes" type="BOOLEAN" value="{{sexRelatedCrimes}}"/>
    <property action="set" name="childSexualExploitation" type="BOOLEAN" value="{{childSexualExploitation}}"/>
    <property action="set" name="defamation" type="BOOLEAN" value="{{defamation}}"/>
    <property action="set" name="specializedAdvice" type="BOOLEAN" value="{{specializedAdvice}}"/>
    <property action="set" name="privacy" type="BOOLEAN" value="{{privacy}}"/>
    <property action="set" name="intellectualProperty" type="BOOLEAN" value="{{intellectualProperty}}"/>
    <property action="set" name="indiscriminateWeapons" type="BOOLEAN" value="{{indiscriminateWeapons}}"/>
    <property action="set" name="hate" type="BOOLEAN" value="{{hate}}"/>
    <property action="set" name="suicideAndSelfHarm" type="BOOLEAN" value="{{suicideAndSelfHarm}}"/>
    <property action="set" name="sexualContent" type="BOOLEAN" value="{{sexualContent}}"/>
    <property action="set" name="elections" type="BOOLEAN" value="{{elections}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="passthroughOnError" type="BOOLEAN" value="{{passthroughOnError}}"/>
    <property action="set" name="showAssessment" type="BOOLEAN" value="{{showAssessment}}"/>
</class>