<class name="org.wso2.apim.policies.mediation.ai.jailbreak.guardrail.guardrailsai.JailbreakGuardrailGuardrailsAI">
    <property action="set" name="name" value="{{name}}"/>
    <property action="set" name="threshold" type="INTEGER" value="{{threshold}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="showAssessment" type="BOOLEAN" value="{{showAssessment}}"/>
    <property action="set" name="passthroughOnError" type="BOOLEAN" value="{{passthroughOnError}}"/>
</class>